---
layout: ""
pagination:
  data: collections.pocketBishies
  size: 1
  alias: bishie
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ bishie.name }}"
  permalink: "goodies/pocket-bishies/{{ bishie.name | slugify }}/"
---
<!DOCTYPE html>
<html lang={{ meta.lang }} data-theme="light">
<head>
  {% include "partials/head.html" %}
  <script type="text/javascript" src="{{ meta.jsUrl }}/components/jquery.js{{ meta.nocache }}" crossorigin="anonymous"></script>
  <script type="module" src="{{ meta.jsUrl }}/script.js{{ meta.nocache }}"></script>
  <link rel="stylesheet" href="{{ meta.cssUrl }}/pocket_bishie.css{{ meta.nocache }}" type="text/css" media="all">
  <title>{{ title }} (Pocket Bi{{ bishie.type }}) - {{ meta.name }}</title>
</head>
<body>
  <main class="container-fluid">
    <div id="bishie-results"><p>&nbsp;</p></div>
    <div id="bishie-content">
      <form>
        {%- for item in bishie.questions %}
          <p class="question"><strong>{{ item.text }}</strong></p>
          <fieldset>
            <ul>
              {%- for option in item.options %}
                <li class="mb-2">
                  <label for="{{ option.val }}">
                    <input type="radio" name="{{ item.id }}" id="{{ option.val }}" value="{{ option.val }}">
                    {{ option.label or option.val }}
                  </label>
                </li>
              {% endfor %}
            </ul>
          </fieldset>
        {% endfor %}
        <button id="bishie-btn-submit" type="button">Submit</button>
      </form>
    </div>
  </main>
</body>
</html>
<script>
  const answer = {{ bishie.answer | dump | safe }};
  let images = [];
  {% if bishie.images %}
    images = {{ bishie.images | dump | safe }}
  {% else %}
    const imgInfo = ["{{ bishie.img }}", "{{ bishie.imgAlt }}", "{{ bishie.type }}"];
  {% endif %}
</script>