---
title: About The Web Beet
shortTitle: About Me
displayOrder: 1
prism: true
permalink: about/index.html
description: (Almost) everything you need to know about the webmaster!
freezeframe:
  noNav: true
---

{% set profile_text %}
Hi, I'm **Bechno Kid**, the head honcho of this hideout.

You can call me **"Bechno"** or even just **"Bec"**. You can call me "Kid", but I don't recommend it unless you're older than me!

I'm a software developer born in the early '90s who enjoys drawing on the side and talking for hours about her interests.

I collect a number of things including Tamagotchi Original and Digital Monster virtual pets with shells/characters that I particularly like. I try to collect merchandise of my favorite characters, but most of them aren't popular enough to get merch, unfortunately. At least I get to save money!

The little guys next to me are **Numemon**, a shy Champion-level Digimon, and **Maskutchi**, a slightly spoiled adult Tamagotchi. They are my little guys, and I love them very much!
{% endset %}

{% set geek_code %}
```git
-----BEGIN GEEK CODE-----
  Version: 3.12
  GCS/O>AT d s-: a@ C++ P !L W++>+++ w$ !M PS++ PE+ Y+ t X tv+
  b- G e++ h-- r+++ z-
-----END GEEK CODE-----
```
{% endset %}

<div class="row g-0">
  <div class="col-lg-5 col-md-4 d-flex justify-content-center">{% img '/assets/images/profile.png', { alt: 'Bechno Kid sitting down and playing with a purple Digital Monster 20th Anniversary device. Strapped to her pants is an orange 1998 Tamagotchi device. In her lap is Maskutchi, and hiding behind her is Numemon' } %}</div>
  <div class="col-lg-7 col-md-8 d-flex flex-column justify-content-center px-3">
    {{ profile_text | markdownify | safe }}
    <details class="identity-btns sidebar m-3">
      <summary class="bg-dot">ID Buttons</summary>
      <div class="d-flex flex-wrap justify-content-center align-items-center flex-gap-2 p-2">
        {% for item in about.list.identityBtns %}
          {% img "/assets/images/about/" + item.src, { alt: 'Button that says "' + item.name + '"'} %}
        {% endfor %}
      </div>
    </details>
  </div>
</div>

<div class="d-flex flex-column flex-gap-4">
  <div class="geek-code">{{ geek_code | markdownify | safe }}</div>
  <div class='about-info row d-flex flex-wrap justify-content-center'>
    <div class="col-md-4 col-12 mb-3 mb-md-0">
      {% galleryBox { title: "Other Facts", cls: "h-100" } %}
        <ul>{% for item in about.list.otherFacts %}<li>{{ item | markdownifyInline | safe }}</li>{% endfor %}</ul>
      {% endgalleryBox %}
    </div>
    <div class="col-md-4 col-12 mb-3 mb-md-0">
      {% galleryBox { title: "Likes", cls: "h-100" } %}
        <ul>{% for item in about.list.likes %}<li>{{ item | markdownifyInline | safe }}</li>{% endfor %}</ul>
      {% endgalleryBox %}
    </div>
    <div class="col-md-4 col-12">
      {% galleryBox { title: "Fav Media", cls: "h-100" } %}
        <ul>{% for item in about.list.favMedia %}<li>{{ item | markdownifyInline | safe }}</li>{% endfor %}</ul>
      {% endgalleryBox %}
    </div>
  </div>

  {% set img_path = "/assets/images/about/monsters/" %}
  <div class="row g-4">
    <div class="col-md-6 d-flex">
      {% galleryBox { title: "Favorite Monsters" } %}
        {% for item in about.monsters.monhun %}
          <div class="fav-box">
            {% img img_path + item.src, { alt: item.alt, cls: item.cls, url: ("/resources/gadzooks" if item.name == "Espinas" else ""), urlCls: ("uwu" if item.name == "Espinas" else "") } %}
            <p>{{ item.name | markdownifyInline | safe }}</p>
          </div>
        {% endfor %}
      {% endgalleryBox %}
    </div>
    <div class="col-md-6">
      {% galleryBox { title: "Favorite Digimon" } %}
        <div class="w-100 d-flex justify-content-center js-required mb-3"><button class="button toggle-gif">Toggle GIFs</button></div>
        <div class="freezeframe">
          {% for item in about.monsters.digimon %}
          <div class="fav-box">
            {% img img_path + item.src, { alt: "Sprite of " + item.name, cls: item.cls } %}
            <p>{{ item.name | markdownifyInline | safe }}</p>
          </div>
          {% endfor %}
        </div>
      {% endgalleryBox %}
    </div>
  </div>

  {% set img_path = "/assets/images/about/quiz-results/" %}
  <div class="quiz-results sidebar">
    <h2>Quiz Results</h2>
    <div class="gallery-box d-flex flex-md-row flex-column align-items-center flex-gap-3 p-3">
      {% for item in about.quiz_results %}
        {% if item.title %}
          <div class="text-widget sidebar d-flex{{ " flex-column" if item.alignment == "vertical" }} flex-gap-3 p-3{{ " " + item.cls if item.cls }}">
            <div class="img d-flex align-items-center justify-content-center">{% img img_path + item.src, { alt: item.alt } %}</div>
            <div class="desc">
              <p class="title text-center"><a href="{{ item.url }}">{{ item.title }}</a></p>
              <p class="text{{ " text-center" if item.alignment == "vertical" }}">{{ item.desc }}</p>
            </div>
          </div>
        {% elif item.widget %}
          {{ item.widget | safe }}
        {% else %}
          {% img img_path + item.src, { alt: item.alt, url: item.url } %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>