{% macro yumeship(params) %}
<div class="yumeship">
  <div class="row g-0">
    <div class="col-4">
      {% set oc = params.oc %}
      <p class="h3">{{ oc.name }}</p>
      {% set img = oc.img if "https" in oc.img else meta.imgUrl + oc.img %}
      <p>{{ oc.age }}</p>
    </div>
    <div class="col-4">
      <ul>
        {% for item in params.tropes %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      {% set canon = params.canon %}
      <p class="h3">{{ canon.name }}</p>
      {% set img = canon.img if "https" in canon.img else meta.imgUrl + canon.img %}
      <p>{{ canon.age }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      {% for item in params.relationship %}
        {{ item | markdownify | safe}}
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}