---
pagination:
  data: collections.artPages
  size: 1
  alias: picture
layout: layouts/basic.html
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{{ picture.title | safe }}"
  imgDate: "{% if picture.date %}{{ picture.date }}{% endif %}"
  permalink: "art/{{ picture.gallery | slugify }}/{{ picture.title | slugify }}/"
  noScroll: "{{ picture.scroll != 'TRUE' }}"
---
{% macro art_nav(img) %}
  {% if img.prevImg %}
    {% set art_link = img.prevImg | slugify %}
    {% link "../" + art_link, { text: "Prev", cls: 'button', alt: 'Go to previous image' } %}
  {% endif %}
  {% set art_link = img.gallery | slugify %}
  {% link "/art/" + art_link + "/", { text: "Index", cls: 'button' } %}
  {% if img.nextImg %}
    {% set art_link = img.nextImg | slugify %}
    {% link "../" + art_link, { text: "Next", cls: 'button', alt: 'Go to next image' } %}
  {% endif %}
{% endmacro %}
<section class="d-flex flex-column flex-gap-3">
	<div class='art-nav'>{{ art_nav(picture) }}</div>
  <div class='img-container d-flex flex-column justify-content-center'>
    <img src="{{ picture.baseUrl + picture.filename }}" alt="{{ picture.altText }}"{% if picture.transcript %} aria-describedby="transcript"{% endif %}>
  </div>
  {% if picture.fullSize %}<a class="art-full-size" href="{{ picture.baseUrl + picture.filename }}">(Click for full size)</a>{% endif %}
  <div class="art-desc">
    {% artCaption picture.caption, { originalDate: picture.originalDate, originalCaption: picture.originalCaption, transcript: picture.transcript } %}
  </div>
  <div class='art-nav'>
		{{ art_nav(picture) }}
	</div>
</section>