{% set img_path = "/assets/images/webrings" %}
{% set alt_index = "Main link to the " %}
{% set alt_prev = "Go to the previous site in the " %}
{% set alt_next = "Go to the next site in the " %}
{% set alt_rand = "Go to a random site in the " %}
{% set alt_list = "Go to the members list in the " %}
{% set onionring_url = "https://garlic.garden/onionring/" %}

{% macro set_ring_id(params) %}{{ params.id or (params.name | slugify )}}{% endmacro %}

{% macro set_ring_sites(params) %}
  {% set ring_id = set_ring_id(params) %}
  {% if params.vars %}
    {% set script_url = params.vars if "https" in params.vars else (params.url + params.vars) %}
    {% if "json" in script_url %}
      <script type="text/javascript">
        webringLinks["{{ ring_id }}"] = { override: ("{{ params.override }}" === "true" ? true : false), name: "{{ params.name }}", url: "{{ params.url }}", json: "{{ script_url }}", attr: "{{ params.attr }}" }
      </script>
    {% else %}
      <script type="text/javascript" src="{{ script_url }}"></script>
      {% if "doodlering" in params.url %}
        <script type="text/javascript">
          webringLinks["{{ ring_id }}"] = { url: "{{ params.url }}", name: "{{ params.name }}", sites: doodles.map(site => site[0]), override: ("{{ params.override }}" === "true" ? true : false) }
        </script>
      {% else %}
        <script type="text/javascript">
          {% if "ishgard.fan" in params.url %}
            sites = window.membersData;
          {% endif %}
          webringLinks["{{ ring_id }}"] = {
            url: "{{ params.url }}", name: "{{ params.name }}", sites: sites, override: ("{{ params.override }}" === "true" ? true : false)
          }
        </script>
      {% endif %}
    {% endif %}
  {% else %}
    <script type="text/javascript">
      webringLinks["{{ ring_id }}"] = { override: ("{{ params.override }}" === "true" ? true : false), name: "{{ params.name }}", url: "{{ params.url }}", sites: {{ webrings[ring_id] | dump | safe }}};
    </script>
  {% endif %}
{% endmacro %}

{% macro widget(params) %}
  {% if params.rand %}
  <div class="{{ set_ring_id(params) }}">
    <div class="d-flex align-items-center flex-gap-2">
  {% else %}
  <div class="{{ set_ring_id(params) }} d-flex align-items-center flex-gap-2">
  {% endif %}
    {% imgDiv { cls: "img-prev", alt: alt_prev + params.name + " webring", url: params.prev_url, urlCls: "prev js-required" if params.prev_url == "#" else "prev" } %}
    {% imgDiv { cls: "img-index", alt: alt_index + params.name + " webring", url: params.url, urlCls: "index" } %}
    {% imgDiv { cls: "img-next", alt: alt_next + params.name + " webring", url: params.next_url, urlCls: "next js-required" if params.next_url == "#" else "next" } %}
  {% if params.rand %}
    </div>
    <div class="text-center text-xs">{% link "#", { text: "random", cls: "rand" } %}</div>
  {% endif %}
  </div>
{% endmacro %}

{# ACTIVE WEBRINGS #}

{% macro acing() %}
  {% set webring_params = {
    id: 'ace',
    name: 'Acing the Internet',
    url: 'https://acingtheinternet.netlify.app',
    prev_url: "https://acingtheinternet.netlify.app/bechnokid/previous",
    next_url: "https://acingtheinternet.netlify.app/bechnokid/next"
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro amiga() %}
  {% set webring_params = {
    name: "AMIGA: Artists Making the Internet Gay",
    id: "amiga",
    url: "https://nicois.gay/amiga",
    vars: "/onionring-variables.js"
  } %}
  <div class="{{ webring_params.id }} d-flex flex-column flex-gap-1">
    <div class="nav d-flex align-items-center flex-gap-2">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev js-required" } %}
      {% imgDiv { cls: "img-list", alt: alt_list + webring_params.name + " webring", url: webring_params.url + "/members", urlCls: "list" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next js-required" } %}
    </div>
    <ul class="links js-required inline-list justify-content-center flex-gap-1">
      <li><a href="#" class="rand">random</a></li>
      <li><a href="{{ webring_params.url }}/amiga-webring" class="index">index</a></li>
      <li><a href="{{ onionring_url }}" class="onion">what is this?</a></li>
    </ul>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro cookie_run() %}
  {% set webring_params = {
    id: "ckwr",
    name: "Cookie Run",
    url: "https://evehibi.nekoweb.org/ckwr/"
  } %}
  <div class="{{ webring_params.id }}">
    <div class="cookie-wrapper d-flex flex-column py-1 h-100">
      {% imgDiv { cls: 'img-index me-1', alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: 'index align-self-end'} %}
      <div class="nav d-flex justify-content-around">
        <div class="cookie-tooltip">
          {% imgDiv { cls: "cookie-icon", alt: "Profile image of Timekeepr Cookie" } %}
        </div>
        <div class="arrows-container js-required d-flex align-items-center flex-gap-3">
          {% imgDiv { cls: 'img-prev', alt: alt_prev + webring_params.name + " webring", url: webring_params.url + "?action=previous", urlCls: 'prev'} %}
          {% imgDiv { cls: 'img-next', alt: alt_next + webring_params.name + " webring", url: webring_params.url + "?action=next", urlCls: 'next'} %}
        </div>
      </div>
    </div>
    <div class="cookie-tooltip-content" role="tooltip">
        <p>This is Bechno Kid's favorite cookie! When asked why they liked this cookie, they said: "<span id="reason">N/A</span>"</p>
      </div>
  </div>
{% endmacro %}

{% macro doodle() %}
  {% set webring_params = {
    name: "doodlering",
    url: "https://evehibi.nekoweb.org/doodlering",
    vars: "/onionring-variables.js"
  } %}
  <div class="{{ webring_params.name }} d-flex flex-column align-items-center justify-content-evenly">
    <a href="{{ webring_params.url }}" class="index link-glow">doodlering! ✏</a>
    <div class="nav d-flex align-items-center justify-content-evenly w-100">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev js-required"} %}
      <img src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/webrings/doodlering.png" alt="Bechno Kid's doodle for the doodlering webring">
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next js-required"} %}
    </div>
    <ul class="links js-required inline-list justify-content-center flex-gap-1">
      <li><a href="" class="rand" aria-label="{{ alt_rand + webring_params.name }} webring">random</a></li>
      <li><a href="{{ webring_params.url }}/members" class="index" aria-label="{{ alt_list + webring_params.name }} webring">join</a></li>
      <li><a href="{{ onionring_url }}" class="onion link-glow" aria-label="Go to the onionring website">🧅</a></li>
    </ul>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro gfdkris() %}
  {% set webring_params = {
    id: "gfdkris",
    name: "godfucking damnit kris, where the fuck are we?",
    url: "https://fabstarotcorner.neocities.org/webring",
    vars: "/onionring-variables.js"
  } %}
  <div class="{{ set_ring_id(webring_params) }} d-flex flex-column flex-gap-1">
    {% imgDiv { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index" } %}
    <div class="nav js-required d-flex justify-content-between">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev" } %}
      {% imgDiv { cls: "img-rand", alt: alt_rand + webring_params.name + " webring", url: "#", urlCls: "rand" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next" } %}
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro gummy() %}
  {% set webring_params = {
    id: "gummy",
    name: "gummy ring",
    url: "https://gummyring.neocities.org",
    prev_url: "https://gummyring.neocities.org/?action=previous",
    next_url: "https://gummyring.neocities.org/?action=next"
  } %}
  <div class="{{ webring_params.id }} d-flex flex-column align-items-center flex-gap-1">
    {% imgDiv { cls: "img-title", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "title" } %}
    <div class="nav d-flex align-items-center flex-gap-2">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: webring_params.prev_url, urlCls: "prev" } %}
      {% imgDiv { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: webring_params.next_url, urlCls: "next" } %}
    </div>
  </div>
{% endmacro %}

{% macro kingdom_hearts() %}
  {% set webring_params = {
    id: "khwr",
    name: "Kingdom Hearts",
    url: 'https://kingdomheartswebring.neocities.org',
    vars: "/onionring-variables.js"
  } %}
  <div class="{{ webring_params.id }}">
    {% imgDiv { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index"} %}
    <div class="nav js-required">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev"} %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next"} %}
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro ladies() %}
  {% set webring_params = {
    id: "ladies",
    name: "Ladies of the Link",
    url: "https://ladiesofthe.link/",
    prev_url: "https://webri.ng/webring/ladiesofthelinks/previous?via=https://bechnokid.neocities.org",
    next_url: "https://webri.ng/webring/ladiesofthelinks/next?via=https://bechnokid.neocities.org"
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro neocreatives() %}
  {% set webring_params = {
    url: "https://neocreatives.byethost5.com",
    name: "Neocreatives",
    vars: "https://neocreatives.neocities.org/onionring-variables.js"
  } %}
  <div class="{{ set_ring_id(webring_params) }}">
    <div class="nav d-flex align-items-center flex-gap-2">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev js-required" } %}
      {% imgDiv { cls: "img-list", alt: alt_list + webring_params.name + " webring", url: webring_params.url + "/directory.php", urlCls: "list" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next js-required" } %}
    </div>
    <ul class="links js-required inline-list justify-content-center flex-gap-2">
      <li><a href="#" class="rand">random</a></li>
      <li><a href="{{ webring_params.url }}" class="index">index</a></li>
    </ul>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro no_ai() %}
  <div class="no-ai d-flex">
    <a href="https://baccyflap.com/noai/?prv&s=bkh" target="_top"><img src="https://baccyflap.com/noai/valywidget0.gif" alt="previous no ai webring site" title="previous no ai webring site"></a>
    <a href="https://baccyflap.com/noai" target="_blank"><img src="https://baccyflap.com/noai/valywidget1.gif" alt="no ai webring" title="no ai webring"></a>
    <a href="https://baccyflap.com/noai/?rnd" target="_top"><img src="https://baccyflap.com/noai/valywidget2.gif" alt="random no ai webring site" title="random no ai webring site"></a>
    <a href="https://baccyflap.com/noai/?nxt&s=bkh" target="_top"><img src="https://baccyflap.com/noai/valywidget3.gif" alt="next no ai webring site" title="next no ai webring site"></a>
  </div>
{% endmacro %}

{% macro queercoded() %}
  {% set webring_params = {
    name: "Queercoded",
    url: "https://neptune.monster/webring/",
    prev_url: "https://neptune.monster/webring/22.html",
    next_url: "https://neptune.monster/webring/24.html"
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro rayman() %}
  {% set webring_params = {
    id: "rayman",
    name: "Rayman Ring",
    url: "https://edgyrabbid.neocities.org/Raymanring.HTML",
    prev_url: "https://lapislabel.net",
    next_url: "https://nathanntan.neocities.org/"
  } %}
  {{ widget(webring_params) }}
{% endmacro %}

{% macro resource() %}
  {% set webring_params = {
    name: "Re:source",
    url: "https://pixelsafari.neocities.org/webring/"
  } %}
  <div class="{{ set_ring_id(webring_params) }}">
    {% imgDiv { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index" } %}
    <div class="nav js-required">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " ", url: "#", urlCls: "prev" } %}
      {% imgDiv { cls: "img-rand", alt: alt_rand + webring_params.name + " ", url: "#", urlCls: "rand" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " ", url: "#", urlCls: "next" } %}
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro sanrio() %}
  {% set webring_params = {
    id: "sanrio",
    name: "Sanrio Webring",
    url: "https://luckyatoll.nekoweb.org/sanringo.html",
    prev_url: "https://luckyatoll.nekoweb.org/sanringo.html?action=previous",
    next_url: "https://luckyatoll.nekoweb.org/sanringo.html?action=next"
  } %}
  <div class="{{ set_ring_id(webring_params) }} d-flex flex-column justify-content-around text-center">
    <a href="{{ webring_params.url }}" class="title">{{ webring_params.name }}</a>
    <div class="nav d-flex align-items-center justify-content-evenly">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: webring_params.prev_url, urlCls: "prev", refer: true } %}
      {% imgDiv { cls: "img-char", alt: "Big Challenges" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: webring_params.next_url, urlCls: "next", refer: true } %}
    </div>
    <a href="{{ webring_params.url }}" class="index">what's this?</a>
  </div>
{% endmacro %}

{% macro self_insert() %}
  {% set webring_params = {
    name: "Self-Insert",
    url: "https://webring.koinuko.pink"
  } %}
  <div class="{{ set_ring_id(webring_params) }} d-flex flex-column p-2 flex-gap-2">
    <div class="self-insert-info d-flex flex-gap-2">
      <img src="/assets/images/webrings/self-insert_icon.png" alt="Image of Gilgamesh for the {{ webring_params.name }} Webring">
      <div class="self-insert-text d-flex align-items-center text-center p-2">
        <p><strong>Bechno Kid</strong> absolutely loves <strong>Gilgamesh</strong> from <strong>Final Fantasy</strong>!</p>
      </div>
    </div>
    <p class="self-insert-desc p-1 text-center">Part of the <a href="{{ webring_params.url }}">{{ webring_params.name }} Webring</a></p>
  </div>
{% endmacro %}

{% macro tropical(override = false) %}
  {% set webring_params = {
    id: "trb",
    name: "Tropical Rice Bowl",
    url: "https://astracelestine.nekoweb.org/webring/tropical-rice-bowl",
    prev_url: "#",
    next_url: "#",
    override: override
  } %}
  {{ widget(webring_params) }}
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro wii() %}
  {% set webring_params = {
    name: "Wii Ring",
    url: "https://jeith.com/wii-ring",
    vars: "https://neocities.jeith.com/assets/miis.json",
    attr: "url"
  } %}
  <div class="{{ set_ring_id(webring_params) }} d-flex flex-column align-items-center flex-gap-2">
    {% imgDiv { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index" } %}
    <div class="nav d-flex align-items-center justify-content-evenly w-100">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev js-required" } %}
      {% imgDiv { cls: "img-mii", alt: "Bechno Kid in the " + webring_params.name + " webring" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next js-required" } %}
    </div>
    <div class="links js-required">
      {% imgDiv { cls: "img-rand", alt: alt_rand + webring_params.name + " webring", url: "#", urlCls: "rand" } %}
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro yume(override = false) %}
  {% set webring_params = {
    name: 'yume-ring',
    url: "https://yume-ring.neocities.org",
    vars: "/onionring-variables.js",
    override: override
  } %}
  <div class="{{ set_ring_id(webring_params) }} d-flex flex-column align-items-center flex-gap-1">
    {% img "/assets/images/webrings/yumering.gif", { cls: "img-index", alt: alt_index + webring_params.name + " webring", url: webring_params.url, urlCls: "index"} %}
    <div class="nav">
      <a href="#" class="prev js-required">← previous</a>
      <span>♡ Yume-Ring ♡</span>
      <a href="#" class="next js-required">next →</a>
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{% macro wol(override = false) %}
  {% set webring_params = {
    id: "wol",
    name: "Webring of Light",
    url: "https://ishgard.fan/webring/",
    vars: "https://cdn.jsdelivr.net/gh/vivarism/wolring@latest/wolring-config.js",
    prev_url: "#",
    next_url: "#",
    rand: true
  } %}
  {{ widget(webring_params) }}
  {{ set_ring_sites(webring_params) }}
{% endmacro %}

{# PENDING WEBRINGS #}


{# INACTIVE WEBRINGS #}

{% macro jelly() %}
  {% set webring_params = {
    name: "Jelly World",
    url: "https://jellyworld.neocities.org"
  } %}
  <div class="{{ set_ring_id(webring_params) }} webring py-3 px-2 d-flex flex-column flex-gap-3">
    <p class="jw-bond"><a href="{{ webring_params.url }}">Bechno Kid</a> has bonded with <strong>Jelly Well-Done Steak!</strong></p>
    <img src="{{ img_path }}/jw_steak.png" alt="{{ alt_main + webring_name }}" title="Mmm...so tasty!">
    <p class="jw-desc">This jelly has the ability to boost your health and stamina! Mmm...so tasty!</p>
  </div>
{% endmacro %}

{% macro pokering(override = false) %}
  {% set webring_params = {
    name: "Pokering",
    url: "https://dokodemo.neocities.org/pokering",
    vars: "/pokemembers.json",
    attr: "url",
    override: override
  } %}
  <div class="{{ set_ring_id(webring_params) }}">
    {% imgDiv { url: webring_params.url, cls: "title", alt: alt_main + webring_params.name + " webring" } %}
    <div class="screen d-flex flex-column align-items-center pt-3 position-relative">
      <input type="checkbox" name="info-checkbox" id="info-checkbox"></input>
      <label for="info-checkbox">{% imgDiv { cls: "pokemon", alt: "Click for more information" } %}</label>
      <div class="steps pe-1 font-weight-bold">
        <p class="m-0 text-right">1004</p>
      </div>
      <div class="info-box text-center">
        <p class="m-0 text-center">Splashy was caught by Bechno on 12/31/2022.</p>
      </div>
    </div>
    <div class="nav d-flex justify-content-center">
      {% imgDiv { cls: "img-prev", alt: alt_prev + webring_params.name + " webring", url: "#", urlCls: "prev" } %}
      {% imgDiv { cls: "img-rand", alt: alt_rand + webring_params.name + " webring", url: "#", urlCls: "rand" } %}
      {% imgDiv { cls: "img-next", alt: alt_next + webring_params.name + " webring", url: "#", urlCls: "next" } %}
    </div>
  </div>
  {{ set_ring_sites(webring_params) }}
{% endmacro %}