{% set img_path = cliques.path %}

{% macro clique_text(text, options = {}) %}
  {% set safe_text = text | safe %}
  {% if options.url %}
    <a href="{{ options.url }}" {% if options.cls %}class="{{ options.cls | trim }}" {% endif %}>{{ safe_text }}</a>
  {% elif options.cls != undefined %}
    <span class="{{ options.cls }}">{{ safe_text }}</span>
  {% else %}
    {{ safe_text }}
  {% endif %}
{% endmacro %}

{% macro text(clique) %}
  {# Left text #}
  {% set left_url = clique.left.url or clique.leftUrl %}
  {% set leftText = clique.left.text or clique.leftText or clique.left %}
  {{ clique_text(leftText, { url: left_url, cls: clique.left.cls }) }}

  {# Center text (or image) #}
  {% set regexExp = r/\w+\.+\w{3}/g %}
  {% if clique.center %}
    {% set center_url = clique.center.url or clique.centerUrl %}
    {% set center_text = clique.center.text or clique.centerText or clique.center %}
    {% set center_img = clique.center if regexExp.test(clique.center) else clique.center.img or "" %}
    {% if center_img != "" %}
      {% img img_path + center_img, { cls: clique.center.cls, ariaHidden: true } %}
    {% else %}
      {{ clique_text(center_text, { url: center_url, cls: clique.center.cls }) }}
    {% endif %}
  {% endif %}

  {# Right text #}
  {% set right_url = clique.right.url or clique.rightUrl %}
  {% set right_text = clique.right.text or clique.rightText or clique.right %}
  {{ clique_text(right_text, { url: right_url, cls: clique.right.cls }) }}
{% endmacro %}

{% macro img(clique) %}
  {% if clique.tooltip %}
    {% set tooltip_params = {
    tooltipId: "clique-" + (clique.id or clique.name | slugify),
      url: clique.url,
      urlCls: "d-flex",
      src: img_path + clique.img,
      alt: clique.alt,
      cls: clique.cls
    } %}
    {% tooltip tooltip_params %}{{ clique.tooltip }}{% endtooltip %}
  {% else %}
    {% img img_path + clique.img, { url: clique.url, alt: clique.alt, cls: clique.cls, urlCls: "d-flex" } %}
  {% endif %}
{% endmacro %}