<!DOCTYPE html>
<html lang={{ meta.lang }} data-theme="light" class="no-js">
<head>
  {% include "partials/head.html" %}
  <script type="text/javascript" src="{{ meta.jsUrl }}/components/jquery.js" crossorigin="anonymous"></script>
  <script type="module" src="{{ meta.jsUrl }}/script.js" crossorigin="anonymous"></script>
  {% block css %}<link rel="stylesheet" href="{{ meta.cssUrl }}/main.css" type="text/css" media="all">{% endblock css %}
  <title>{% if title != null %}{{ title }} - {% endif %}{{ meta.name }}</title>
</head>
<body class='position-relative'>
  <div class="container-fluid d-flex justify-content-center p-0">
    <div class="mobile-nav-container">
      <details class="burger">
        <summary class="burger-summary d-flex align-items-center px-2 py-3" aria-label="Open Navigation Menu">
        </summary>
        <nav><div class="sidebar pb-2 pb-md-0">{% include "partials/navigation.html" %}</div></nav>
      </details>
      <div class="btns-container js-required">
        {% if freezeframe === true or freezeframe === "true" %}<button type="button" class="toggle-gif">Play GIFs</button>{% endif %}
        <button type="button" class="toggle-mode" aria-label="Switch to dark mode">{% icon 'more-horizontal' %}</button>
      </div>
    </div>
    <div class="page rounded bg-dots">
      <div class="p-3 m-3 bg-body">
        <a href="/home"><header class="bg-body mb-md-3"><span class="hidden">Navigate to the home page</span></header></a>
        <div class="bg-body main desktop">
          <div class="row g-0">
            <nav id="nav-main" class="col-md-2">
              <div class="sidebar pb-1 mb-md-2">{% include "partials/navigation.html" %}</div>
              <div class="buttons desktop d-flex flex-column flex-gap-2">
                <button type="button" class="desktop button toggle-mode js-required" aria-label="Switch to dark mode">{% icon 'more-horizontal' %}</button>
                {% if freezeframe === true or freezeframe === "true" %}
                  <button type="button" class="desktop button toggle-gif js-required d-none">Play GIFs</button>
                {% endif %}
              </div>
            </nav>
            <main id="main-content" class="col{{ "-md-10" if title !="Home" }} px-lg-4 p-md-3 px-2 pt-3 position-relative" tabindex="-1">
              <article class="position-relative {{ (cls or shortTitle or title) | lower | slugify }}">{% block content %}{% endblock %}</article>
              {% include "partials/back-to-top.html" %}
            </main>
            {% if title == "Home" %}<aside id="updates-bar" class="col-lg-2 offset-lg-0 col-md-10 offset-md-2 px-lg-0 px-md-4 px-2 my-lg-0 my-3">{% include "partials/updates.html" %}</aside>{% endif %}
          </div>
        </div>
        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
</body>
</html>