---
permalink: 'blog/{{ (page.date | dateToIso8601) or page.fileSlug }}/index.html'
cls: blog-post
---
{% set date = page.date %}
{% extends "layouts/base.html" %}

{% set page_header_title = title | markdownifyInline | safe %}
{% set page_header_summary %}
  <time class="text-primary font-weight-bold" datetime="{{ date | local }}">{{ date | monthDayYear }}</time>
  {% if summary %}<p class="mt-2">{{ summary | markdownifyInline | safe }}</p>{% endif %}
{% endset %}

{% block content %}
  {% include "partials/page-header.html" %}
  <div class="my-4 blog">
    {{ content | safe }}
  </div>
  {% include "partials/go-back.html" %}
{% endblock %}