section {
  &:has(.h2, h2) {
    padding-left: .5rem;
  }

  .h1, h1,
  .h2, h2 {
    margin-left: -.5rem;
  }

  & + section {
  margin-bottom: 1rem;
}
}

a[href*="footnote"],
span[id*="footnote"] {
  font-size: .8em;
  vertical-align: super;
}

.about-figure {
  padding: 0 !important;
  height: 204px;
}

#web-feed .img-svg {
  width: 1.25em;
}

noscript .sidebar.curses {
  height: 120px;
}

.greenhouse iframe,
iframe.webgarden-pot {
  width: 250px;
  height: 250px;
  border: 0;
}

img.preview-img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: top center;
}

.curses {
  .tail {
    position: absolute;
    inset: auto -.25rem -.75rem auto;
    font-size: 3rem;
    color: var(--bg-footer);
    transform: rotate(60deg);
  }

  .tail-right {
    font-size: 3rem;
    color: var(--bg-footer);
    position: absolute;
    inset: auto -2rem 9rem auto;
  }
}

.curse-list {
  max-height: 300px;
  overflow-y: auto;
}

.go-to-heck.new-curse {
  &:hover {
    filter: drop-shadow(0 0 .5rem var(--text-link-hover));
    cursor: var(--img-cursor-point), pointer;
  }

  &:active {
    filter: none;
    transform: translateY(.25rem);
  }
}

.feed-links {
  height: 125px;
  justify-content: space-around;
  font-family: 'TamaFont';
  font-size: 1.5rem;
  line-height: 1.5rem;

  a {
    display: inline-flex;
  }

  li::marker {
    color: var(--text-link-visited);
  }
}

.older-entries {
  summary.h2 {
    margin-bottom: 0;
  }
}

article.now {
  .older-entries {
    section {
      padding-left: .5rem;
    }

    summary.h2 {
      font-size: 1.25rem;
      padding: .25rem .5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  #bishie-quiz-nav {
    max-height: unset;
  }

  #bishie-quiz {
    height: 625px;
  }

  .curse-list {
    max-height: unset;
  }

  .curses .tail,
  .curses .tail-right {
    top: -1.5rem;
    bottom: unset;
    left: 50%;
    right: unset;
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 576px) {
  section:has(.h2, h2) {
    padding-left: 0;
  }
}