.blog {
  figure {
    max-width: 200px;
    padding: .5rem;

    &.figure-landscape {
      max-width: 400px;
    }

    &.figure-lg {
      max-width: fit-content;
    }

    &.dr-strange {
      width: unset;
      max-width: 350px !important;
    }
  }

  figcaption {
    padding: 0 .25rem;
    font-size: .85em;
  }
}

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
  margin: 1rem 0;

  > figure {
    width: 200px;
  }

  > .landscape {
    width: 300px;
  }

  > .bg-center .figure-div {
    background-position: center !important;
  }

  noscript .sidebar {
    height: 350px;
  }

  noscript iframe {
    width: 100%;
    height: 100%;
  }
}

.blog.row:hover {
  background-color: var(--bg-footer);
}


.candy {
  figure {
    width: 150px;
  }

  img {
    height: 100px;
  }
}

.rilla-box {
  width: 240px;
  height: 320px;
  border: 1px solid #fccdda;
  background-color: #ffffff;

   .carousel-column {
    height: 150px;
  }
}

.valentines:hover {
  cursor: var(--img-cursor-point), pointer;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid var(--bg-footer);

  p {
    width: 70px !important;
    margin-left: -2.15rem;
    margin-top: 2rem;
    font-size: .8em;
    line-height: 1.25em;
  }
}

map:hover {
  cursor: var(--img-cursor-point), pointer;
}

img.hank {
  width: 400px;
}

textarea.key-map {
  float: left;
  width: 300px;
  height: 230px;
  font-size: small;
  margin-right: 20px
}

li:has(> .img-question) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

div.img-question {
  height: 300px;
  width: 200px;
  border-radius: 0.5rem;

  &.pendulum {
    background-image: url(/assets/images/art/digimon/202402pendulum2.jpg);
    background-position: -141px -32px;
    background-size: 260%;
  }

  &.dedede {
    background-image: url(/assets/images/art/game/202101fridaynight.jpg);
    background-size: 250%;
    background-position: -55px -5px;
  }

  &.sabo {
    background-image: url(/assets/images/art/other/sabotenshi_gijinka.jpg);
    background-position: -198px -14px;
  }

  &.venustune {
    height: 620px;
    width: 500px;
    background-image: url(/assets/images/art/digimon/kissesforfishes.jpg);
    background-size: cover;
  }
}

article#microblog {
  #status-cafe-widget {
    hr {
      margin: 0 !important;
    }

    img {
      align-self: center;
    }

    .status-content {
      flex: 1;

      .status-text {
        padding: .5rem 0;
      }
    }

    .hosted-on {
      text-align: right;
    }
  }
}

@media screen and (max-width: 576px) {
  .hosted-on {
    text-align: initial;
  }
}