footer {
  font-size: .8em;
  border-top: 0;

  p {
    margin: 0;
  }

  .inline-list {
    font-size: 1.25em;

    li:not(:last-child):after {
      content: var(--icon-list);
      color: var(--text-primary);
      font-family: 'TamaFont';
      font-size: .75rem;
      margin-left: .5rem;
    }
  }
}