#main-content:has(.collected details:not(.web-badges):open) .back-to-top {
  display: block;
}

.adopts {
  &.mine p {
    margin: 0;
  }

  &.other > * {
    max-width: 150px;
  }
}

.orphaned-adopts {
  .ff-container {
    display: flex;
    align-items: end;
  }

  img,
  canvas {
    align-self: end;
  }
}

article.pixel-clubs section {
  margin-bottom: 3rem;
}

.cdw {
  figcaption {
    padding: .75rem 0;
  }

  .playlist {
    font-size: .7rem;
  }
}

.duck > .sidebar {
  background: linear-gradient(to bottom, light-dark(#fdf0ff, #462293) 0%, light-dark(#ffb5d1, #f26957) 48%,light-dark(#ff84e6, #1d1f82) 51%, light-dark(#8a41e1, #0a0528) 100%);
}

.kindnessrocks .d-flex a,
.jarjam .d-flex a {
  display: flex;
  align-items: baseline;
}

.library .sidebar > * {
    border-bottom: 8px double var(--border-sidebar);
  }

.kindnessrocks .d-flex {
  align-items: baseline;
}

.sticker-box {
  min-width: 300px;
  max-width: 650px;
  background-color: light-dark(#fdc2ce, #846588);
  color: light-dark(#e55a76, var(--white));

  .header {
    height: 76px;
    mask: linear-gradient(0deg,#0000 23px,#000 0),radial-gradient(19px,#000 calc(100% - 1px),#0000) bottom/36px 38px;
    background-color: light-dark(var(--white), var(--main-purple-40));
    font-weight: bold;
  }

  .footer {
    background-color: light-dark(var(--white), var(--main-purple-40));
    text-align: center;
  }
}

section.train {
  .marquee-container {
    white-space: nowrap;
  }

  .marquee-content {
    animation: marquee 45s steps(400, end) infinite;

    &:hover {
      animation-play-state: paused;
    }

    img {
      align-self: center;
      max-width: unset;
    }
  }
}

@keyframes marquee {
    0% { transform: translateX(200%); }
    100% { transform: translateX(-100%); }
  }

.yys {
  table {
    font-size: .85em;
    max-width: 400px;
  }

  .ff-container {
    justify-content: center;
  }
}

.detailed {
  .item {
    width: 120px;
  }

  .img {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .desc {
    line-height: 1rem;

    summary:hover {
      text-decoration: underline;
    }
  }
}

.fzv .img {
  min-height: 80px;
}

.sip {
  .item {
    font-size: .8em;
    text-align: center;
  }

  .img {
    height: 0;
  }
}

.comb-row {
  margin-left: 1rem;

  &:nth-child(even) {
    margin-top: -30px;
  }

  & > *:nth-child(odd) {
    margin: 30px -10px 5px;
  }
}

.bishies-collection > * {
  margin: .25rem .5rem;
}

#bishie-quiz {
  height: 475px;
  width: 100%;
  border: 1px solid var(--border-sidebar);
}

#bishie-quiz-nav {
  max-height: 250px;

  > ul {
    margin-right: .5rem;

    &:nth-child(odd) {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    > li {
      margin-left: 1rem;
    }
  }
}

#bishie-logos img {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .jarjam img,
  .jarjam .ff-canvas,
  .kindnessrocks img,
  .kindnessrocks .ff-canvas {
    transform: scale(2);
    image-rendering: pixelated;
  }

  .kindnessrocks .d-flex,
  .jarjam .d-flex {
    padding: 2rem 0 !important;
  }

  .cdw .playlist {
    font-size: 1rem;
  }

  .yys {
    .item {
      padding: 1rem;
    }

    .item > * {
      transform: scale(2);
      image-rendering: pixelated;
    }
  }
}