.page header {
  width: min(1064px, 100%);
  height: 150px;
  background-image: url(/assets/images/header.png), linear-gradient(to right, var(--bg-footer), var(--bg-footer));
  background-position: var(--img-header);
}

a:hover {
  header {
    border: 5px solid var(--border-sidebar);
  }
}

@media only screen and (max-width: 768px) {
  .page header {
    position: static;
    width: revert;
    height: 150px;
    background-position: 67% 0;
  }

  [data-theme="dark"] .page header {
    background-position: 50% 100%;
  }
}