@font-face {
  font-family: 'lmm-i';
  src: url('https://reef.kingdra.net/lmm-i.otf');
}

:root {
  --rainbow-gradient: light-dark(linear-gradient(to right, #CB3A2A, #ce590b, #d09412, #14710A, #036A96, #644AC9, #CB3A2A), linear-gradient(to right, #FF5555, #FFB86C, #F1FA8C, #50FA7B, #8BE9FD, #BD93F9, #FF79C6));
  --fav-color: light-dark(var(--mint-30), var(--mint-10));
}

.rainbow {
  &.clique {
    background: var(--rainbow-gradient);
    background-clip: text;
    color: transparent;
  }

  &.fav {
    color: var(--fav-color);
  }
}

article.home {
  strong.intro {
    font-family: "TamaFont";
    font-size: 1.25rem;
    font-weight: normal;
  }

  .home-links {
    gap: .75rem;
    font-size: 1.1rem;
    font-family: 'TamaFont';
    line-height: 1.5rem;
    color: var(--text-primary);

    &::before,
    &::after {
      display: flex;
      align-items: end;
    }

    &::before {
      content: url(/assets/images/icon_tama_hydrangea_l.png);
    }

    &::after {
      content: url(/assets/images/icon_tama_hydrangea_r.png);
    }

    li:not(:last-child):after {
      content: var(--icon-list);
      margin-left: .75rem;
      font-size: .8rem;
    }

    a {
      display: inline-block;

      &::after {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .home-row {
    #status-cafe-widget {
      height: 124px;
    }

    .status-text {
      font-size: .8rem;
      line-height: 1.3em;
    }
  }
}

.cliques {
  .desktop-only {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .flower-clique {
    font-family: 'lmm-i';
    font-size: 1.15em;
    letter-spacing: 1px;
  }

  .problematic strike {
    font-family: 'lmm-i';
    font-size: 1.15em;
    letter-spacing: 2px;
    opacity: 0.65;
  }

  .blorbo {
    font-style: italic;
  }
}

@media screen and (max-width: 767px) {
  .cliques {
    .mobile-only {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: .25rem;
    }
  }

  strong.intro {
    font-size: 1.4rem !important;
  }
}