/* General styles*/
#more-cliques {
  .d-flex > img,
  .d-flex > canvas,
  .d-flex > * > img,
  .d-flex > * > canvas {
    align-self: center;
    max-width: unset;
  }
}
.webrings a:not(.pending-link) {
  border: 0 !important;
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }

  &::after {
    display: none !important;
  }
}

.pending-ring {
  border: 1px solid var(--border-sidebar);
  background: var(--bg-body);
  padding: 0 1rem;
  max-width: 175px;
  font-size: 0.9em;
  text-align: center;
}

.img-next {
  transform: scaleX(-1);
}

/* Cliques */
[data-theme="dark"] {
  .cliques .type-master {
    span {
      color: #bdbdbd;
    }

    img {
      filter: drop-shadow(0 0 2px);
    }
  }
}

.cliques {
  .type-master {
    display: block !important;

    img {
      vertical-align: middle;
    }

    span {
      color: #5e1742;
    }
  }

  .balls img {
    vertical-align: baseline;
  }
}

/* Acing the Internet */
.ace {
  .img-index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/ace.png)
  }

  .img-prev,
  .img-next {
    width: 16px;
    height: 14px;
    background: url(/assets/images/webrings/ace.png) 0 -31px;
  }
}

/* AMIGA webring */
.amiga {
  font-size: .8em;

  .img-list {
    width: 148px;
    height: 64px;
    background: url(/assets/images/webrings/amiga.png);
  }

  .img-prev,
  .img-next {
    width: 39px;
    height: 22px;
    background: url(/assets/images/webrings/amiga.png) 0 -64px;
  }

  li:not(:first-child)::before {
    content: "|";
    margin-right: .25rem;
  }
}

/* Cookie Run Webring */
.ckwr {
  position: relative;
  width: 180px;
  height: 120px;
  border-width: 4px;
  border-style: solid;
  border-radius: 1rem;
  background-image: url(/assets/images/webrings/crwr_bg_2.png);

  .cookie-icon {
    width: 64px;
    height: 64px;
    background-image: url(/assets/images/webrings/crwr_icon_2.png);
  }

  &.timekeeper {
    border-color: #772700;
    background-color: burlywood;
    background-position-y: -40px;
  }

  &.silent-salt {
    border-color: #272532;
    background-color: #888795;
    background-position: right -29px;

    .cookie-icon {
      background-position: right top;
    }
  }

  &.venom-dough {
    border-color: darkslateblue;
    background-position: left 136px;
    background-color: #946eaf;

    .cookie-icon {
      background-position: left bottom;
    }
  }

  &.dark-enchantress {
    border-color: #9c003a;
    background-position: right 140px;
    background-color: #d483a1;

    .cookie-icon {
      background-position: right bottom;
    }
  }

  &:has(.cookie-icon:hover) .cookie-tooltip-content{
    opacity: 1;
    z-index: 100;
  }

  .cookie-tooltip-content {
    opacity: 0;
    z-index: -10;
    position: absolute;
    inset: -3rem auto auto -1rem;
    width: 150%;
    border: 1px solid #0d0f11;
    border-radius: .25rem;
    background: #fff;
    color: #0d0f11;
    line-height: 1rem;
    font-size: .7rem;
    padding: .25rem .5rem;

    > * {
      margin: 0;
    }
  }

  a {
    .img-index {
      width: 86px;
      height: 34px;
      background: url(/assets/images/webrings/cookie-run.png) -18px 0px/106px;
      opacity: .5;
    }

    &:hover .img-index {
      opacity: 1;
    }
  }

  .nav {
    .arrows-container [role="img"] {
      width: 26px;
      height: 38px;
      background: url(/assets/images/webrings/cookie-run.png);
      background-size: 162px;
    }

    .prev {
      margin-top: -1rem;
    }

    .next {
      margin-top: 1rem;
    }
  }
}

.no-js .ckwr {
  height: 180px;

  a {
    .img-index {
      background-position: -32px 0;
      background-size: 196px;
      width: 164px;
      height: 62px;
      opacity: 1;
    }

    &:hover .img-index {
      opacity: .5;
    }
  }

  .cookie-wrapper {
    height: 100%;
    justify-content: space-evenly;
  }

  .cookie-tooltip-content {
    top: 0;
  }
}

[data-theme="dark"] .ckwr {
  outline: 1px solid #fff;
}

/* doodlering */
.doodlering {
  width: 198px;
  height: 125px;
  background: url(/assets/images/webrings/doodle-ring.png);
  background-position: top center;
  padding: .25rem .5rem;
  font-family: Comic Sans MS, cursive;
  font-size: 1.1rem;

  a,
  a:visited {
    color: #000;
  }

  a,
  a.index,
  a.link-glow {
    text-decoration: none !important;
  }

  & > .index {
    font-weight: bold;
    filter: drop-shadow(2px 0 0 #fff) drop-shadow(-2px 0 0 #fff) drop-shadow(0 2px 0 #fff) drop-shadow(0 -2px 0 #fff);
  }

  .nav {
    .img-prev,
    .img-next {
      width: 39px;
      height: 31px;
      background: url(/assets/images/webrings/doodle-ring.png) 0 -125px;
    }

    img {
      height: 64px;
    }
  }
}

.no-js .doodlering img {
  height: 95px;
}

/* GFDKWTFAW Ring */
.gfdkris {
  .img-index {
    width: 175px;
    height: 64px;
    background: url(/assets/images/webrings/gfdkris.png);
  }

  .nav {
    & [role="img"] {
      width: 38px;
      height: 22px;
    }

    a {
      padding: .2rem;
      background-color: #000;
      border: 2px solid #000 !important;

      &:hover {
        border-color: #fb7f26 !important;

        div {
          opacity: 1;
          filter: none;
        }
      }
    }

    .img-prev {
      background: url(/assets/images/webrings/gfdkris.png) 0 -64px;
    }

    .img-rand {
      background: url(/assets/images/webrings/gfdkris.png) -38px -64px;
    }

    .img-next {
      background: url(/assets/images/webrings/gfdkris.png) 0 -64px;
    }
  }
}

[data-theme="dark"] .gfdkris .nav {
  a {
    border: 2px solid #fb7f26 !important;

    &:hover {
      border-color: yellow !important;
    }
  }
}

/* Gummy Ring */

.gummy {
  .img-title {
    width: 57px;
    height: 58px;
    background: url('/assets/images/webrings/gummyring.png');
  }

  .nav {
    .img-prev,
    .img-next {
      width: 21px;
      height: 13px;
      background: url('/assets/images/webrings/gummyring.png') -57px -15px;
    }

    .img-index {
      width: 87px;
      height: 15px;
      background: url('/assets/images/webrings/gummyring.png') -57px 0;
    }
  }
}

/* Jelly World */
.jelly-world {
  text-align: center;
  font-family: Arial;
  width: 180px;
  border: 3px dotted orange;
  background: url('/assets/images/webrings/jw_bg.png');
  background-color: #fcee95;
  line-height: 1rem;

  * {
    color: initial;
  }

  img {
    background: #fff;
    object-fit: contain;
    width: 80px;
    margin: 0 auto;
  }

  .jw-bond {
    a:visited {
      color: #da6200;
      font-weight: bold;
    }
  }

  .jw-desc {
    font-style: italic;
  }
}

/* Kingdom Hearts Webring */
.khwr {
  min-height: 160px;
  background: url(/assets/images/webrings/kingdom-hearts.png);
  background-color: #ffeded;
  padding: 1rem;
  border: 2px ridge #fc8476;

  .img-index {
    width: 195px;
    height: 110px;
    background: url(/assets/images/webrings/kingdom-hearts.png) 0 -202px;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .img-prev,
    .img-next {
      width: 42px;
      height: 28px;
      background: url(/assets/images/webrings/kingdom-hearts.png) -195px -202px;
    }
  }
}

/* Ladies of the Link */
.ladies {
  .img-index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/ladiesofthelink.png) -17px 0;
  }

  .img-prev,
  .img-next {
    width: 17px;
    height: 31px;
    background: url(/assets/images/webrings/ladiesofthelink.png);
  }
}

/* Neocreatives Webring */
.neocreatives {
  font-family: MS UI Gothic;
  color: #4b3d44;

  a,
  a:visited {
    color: #4b3d44;
    border: 0 !important;
  }

  .img-list {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/neocreatives.png) -15px 0;
  }

  .img-prev,
  .img-next {
    width: 15px;
    height: 15px;
    background: url(/assets/images/webrings/neocreatives.png);
  }
}

[data-theme="dark"] .neocreatives {
  color: #ecdde5;

  a {
    color: #ecdde5;
  }
}

/* Pokering */
.pokering {
  width: 215px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: url(/assets/images/webrings/pokering.png);
  font-family: "MS UI Gothic", Tahoma;
  color: #000;

  .title {
    width: 77px;
    height: 21px;
    background: url(/assets/images/webrings/pokering.png) 0 -215px;
    margin-top: 1.3rem;
  }

  .screen {
    width: 117px;
    height: 79px;
    background: url(/assets/images/webrings/pokering-bg.png) top/cover;
    border-radius: 5px;
    overflow: hidden;
    image-rendering: initial;

    input[type="checkbox"] {
      width: 1px;
      height: 1px;
      overflow: hidden;
      visibility: hidden;
    }

    .pokemon {
      width: 46px;
      height: 40px;
      background: url(/assets/images/webrings/pokering.png) -215px 0;

      &:hover {
        cursor: var(--img-cursor-point), pointer;
        filter: drop-shadow(1px 0 1px white) drop-shadow(-1px 0 1px white) drop-shadow(0 1px 1px white) drop-shadow(0 -1px 1px white);
      }
    }

    .steps {
      width: 100%;
      text-shadow: 1px 1px #00000024;
    }

    .info-box {
      position: absolute;
      bottom: -3rem;
      color: #000;
      font-size: .7rem;
      line-height: .6rem;
      width: 100%;
      border: 8px solid transparent;
      border-image: url(/assets/images/webrings/pokering-box.png) 8 fill round;
      transition: bottom .3s steps(5, end);
    }
  }

  &:has(input[type="checkbox"]:checked) .info-box {
    bottom: -.1rem;
  }

  .nav {
    gap: 1.25rem;

    a:hover > * {
      opacity: 1;
      filter: drop-shadow(1px 0 1px gray) drop-shadow(-1px 0 1px gray) drop-shadow(0 1px 1px gray) drop-shadow(0 -1px 1px gray)
    }

    .img-prev,
    .img-next {
      width: 26px;
      height: 26px;
      background: url(/assets/images/webrings/pokering.png) -215px -72px;
    }

    .img-rand {
      width: 32px;
      height: 32px;
      margin-top: .25rem;
      background: url(/assets/images/webrings/pokering.png) -215px -40px;
    }
  }
}

/* Queercoded */
.queercoded {
  .img-index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/queercoded.png) -31px 0;
  }

  .img-prev,
  .img-next {
    width: 31px;
    height: 31px;
    background: url(/assets/images/webrings/queercoded.png);
  }
}

/* Rayman Ring */
.rayman {
  .img-index {
    width: 24px;
    height: 24px;
    background: url(/assets/images/webrings/rayman.png) -29px 0;
  }
  .img-prev,
  .img-next {
    width: 29px;
    height: 33px;
    background: url(/assets/images/webrings/rayman.png);
  }
}

/* Re:source Ring */
.re-source {
  .img-index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/resource-ring.png);
  }

  .nav {
    display: flex;
  }

  .img-prev,
  .img-next,
  .img-rand {
    height: 31px;
  }

  .img-prev {
    width: 22px;
    background: url(/assets/images/webrings/resource-ring.png) 0 -31px;
  }

  .img-rand {
    width: 44px;
    background: url(/assets/images/webrings/resource-ring.png) -22px -31px;
  }

  .img-next {
    width: 22px;
    background: url(/assets/images/webrings/resource-ring.png) -66px -31px;
    transform: scale(1);
  }
}

.no-js .re-source .img-index{
  background-position-y: -62px;
}

/* Sanrio Webring */
@font-face {
  font-family: 'Cherry Bomb One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/cherry-bomb-one@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/cherry-bomb-one@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Hi Melody';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/hi-melody@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/hi-melody@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.sanrio {
  width: 225px;
  height: 140px;
  background: url(/assets/images/webrings/sanrio.png);
  font-family: 'Hi Melody';
  font-size: 1rem;
  border-radius: 1rem;

  .title {
    font-family: 'Cherry Bomb One';
    color: #fff !important;
    font-size: 1.5rem;
    text-shadow: 0 0 10px #00393c;
    line-height: 1rem;
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .nav {
    .img-prev,
    .img-next {
      width: 49px;
      height: 50px;
      background: url(/assets/images/webrings/sanrio.png) -250px 0;
    }

    .img-char {
      width: 124px;
      height: 48px;
      background: url(/assets/images/webrings/sanrio.png) 0 -175px;
    }
  }

  a.index {
    color: #085745;
    text-decoration: underline !important;

    &:visited {
      color: #5b2c58 !important;
    }

    &:hover {
      text-decoration: none !important;
    }
  }
}

/* Self-Insert Webring */
.self-insert {
  --self-insert-border: #DD28A7;
  --self-insert-link: #BF3C8E;
  --self-insert-text: #452134;
  --self-insert-bg-color: #ffe3f1;

  width: 225px;
  background-color: var(--self-insert-bg-color);
  background-image: url(/assets/images/webrings/self-insert_bg.png);
  background-size: cover;
  border: 2px solid var(--self-insert-border);
  font-size: .85em;
  line-height: 1.25em;
  color: var(--self-insert-text);

  p {
    margin: 0;
  }

  a {
    color: var(--self-insert-link);
    font-weight: bold;
  }

  strong {
    color: var(--self-insert-text);
  }

  .self-insert-info {
    img {
      border: 2px solid var(--self-insert-border);
      width: 80px;
    }

    .self-insert-text {
      border: 1px dashed var(--self-insert-border);
    }
  }

  .self-insert-desc {
    border: 1px dashed var(--self-insert-border);
  }
}

/* Tropical Rice Bowl */
.trb {
  .img-index {
    width: 88px;
    height: 31px;
    background: url(/assets/images/webrings/tropical.png) -28px 0;
  }

  .img-prev,
  .img-next {
    width: 28px;
    height: 26px;
    background: url(/assets/images/webrings/tropical.png);
  }
}

/* WiiRing */
.wii-ring {
  background-color: #fff;
  width: 150px;
  padding: .75rem 0;
  border: 4px solid #d3bfbf;
  border-radius: 8px;

  .img-index {
    width: 76px;
    height: 23px;
    background: url(/assets/images/webrings/wiiring.png) -44px 0;
  }

  .nav {
    .img-prev,
    .img-next {
      width: 17px;
      height: 14px;
      background: url(/assets/images/webrings/wiiring.png) -69px -23px;
    }

    .img-mii {
      width: 44px;
      height: 59px;
      background: url(/assets/images/webrings/wiiring.png);
    }
  }

  .links .img-rand {
    width: 25px;
    height: 20px;
    background: url(/assets/images/webrings/wiiring.png) -44px -23px;
  }
}

/* Warriors of Light Webring */
.wol {
  .img-prev,
  .img-next {
    width: 20px;
    height: 40px;
    background: url(/assets/images/webrings/wol.png);
  }

  .img-index {
    width: 110px;
    height: 52px;
    background: url(/assets/images/webrings/wol.png) -20px 0;
  }
}

/* Yume-ring */
.yume-ring {
  .nav {
    font-size: .8em;

    a {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 962px) {
  .jelly-world {
    max-width: 210px;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .self-insert {
    max-width: 300px;
  }
}