nav {
  [role='img'] {
    background-image: url('/assets/images/nav.gif');
  }

  .img-main {
    width: 18px;
    height: 15px;
    background-position: -36px -16px;
  }

  .img-creative {
    width: 19px;
    height: 19px;
    background-position: 0 0;
  }

  .img-resources {
    width: 18px;
    height: 17px;
    background-position: -18px -18px;
  }

  .img-fun {
    width: 18px;
    height: 16px;
    background-position: -37px 0;
  }

  .img-outgoing {
    width: 18px;
    height: 18px;
    background-position: -19px 0;
  }
}

.skip-link {
  position: absolute;
  margin: .25rem;
  padding: .25rem;
  z-index: -99;

  &:focus-visible {
    position: relative;
    z-index: 99;
  }
}

#nav-main {
  a {
    border: 0;

    &:hover {
      border-bottom: 1px solid var(--text-link-hover);

      &:visited {
        border-color: var(--text-link-visited);
      }
    }
  }

  ul.section-list {
    li.nav-link-item::marker {
      content: var(--icon-list);
      color: var(--text-secondary);
      font-size: .55rem;
    }

    li ul li.mobile::marker {
      content: var(--icon-sublist);
      font-size: .85rem;
    }
  }

  li.nav-link-item {
    line-height: 1.25em;
    padding-left: .25rem;
    margin: .25rem 0 .1rem .5rem;
  }

  details {
    summary {
      color: var(--text-link);

      &::marker {
        color: light-dark(var(--main-pink-20), var(--light-purple-20));
      }

      &:hover {
        color: var(--text-link-hover);
        text-decoration: underline;
      }
    }

    .nav-link-item {
      margin-left: 1rem;
    }
  }

  .section-header {
    font-size: 1.25rem;
  }

  .sidebar {
    padding: 0;
  }

  .toggle-mode {
    font-size: 1.25rem;
  }
}

.mobile-nav-container {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;

  .section-header {
    font-size: 2rem;
  }

  details.burger {
    width: 100%;
    z-index: 100;

    summary.burger-summary {
      list-style-type: none;
      cursor: var(--img-cursor-point), pointer;
      background: var(--bg-body);
      color: transparent;

      &::before {
        content: "☰";
        font-size: 2.5em;
        color: var(--text-primary);
      }
    }

    nav {
      height: calc(100vh - 50px);
      width: 300px;
      overflow-y: auto;
    }
  }

  details.burger[open] {
    background: var(--bg-overlay);

    summary.burger-summary::before {
      content: '×';
      font-size: 3em;
    }
  }

  .btns-container {
    position: fixed;
    inset: .5rem 1rem auto auto;
    z-index: 100;
    display: flex;
    gap: 1rem;

    button {
      border: 0;

      &.toggle-mode {
        font-size: 1.5rem;
      }

      &.toggle-gif {
        padding: .5rem 1rem;

        &:hover {
          color: var(--bg-sidebar);
        }
      }
    }
  }
}


li.desktop > details > ul {
  margin-top: -.25rem;
}

li.mobile {
  display: none;
}

.section-title > ul {
  margin-left: 1rem;
}

@media screen and (max-width: 991px) {
  #nav-main {
    width: 16.66666667%;
  }
}

@media screen and (max-width: 767px) {
  #nav-main {
    display: none;

    a {
      text-decoration: underline;
    }
  }

  .nav-link-item img {
    transform: scale(2);
    image-rendering: pixelated;
    margin-left: 1rem;
    vertical-align: middle;
  }

  li {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: revert;
    }
  }

  .mobile-nav-container {
    display: block;

    details.burger {
      font-size: 1.25em;

      .h2 {
        padding: .5rem !important;
      }

      ul li ul li {
        margin: .75rem 0;
      }
    }

    .page {
      margin-top: 3.75rem;
    }
  }
}