.nav-main {
  [role='img'] {
    background-image: url('/assets/images/nav.gif');
  }

  .img-main {
    width: 18px;
    height: 15px;
    background-position: -36px -16px;
  }

  .img-creative {
    width: 19px;
    height: 19px;
    background-position: 0 0;
  }

  .img-resources {
    width: 18px;
    height: 17px;
    background-position: -18px -18px;
  }

  .img-fun {
    width: 18px;
    height: 16px;
    background-position: -37px 0;
  }

  .img-outgoing {
    width: 18px;
    height: 18px;
    background-position: -19px 0;
  }

  .nav-link-item::marker {
    content: var(--icon-list);
    font-family: 'TamaFont';
    color: var(--text-secondary);
    font-size: .75rem;
  }

  .skip-link {
    position: absolute;
    margin: .25rem;
    padding: .25rem;
    z-index: -99;

    &:focus-visible {
      position: relative;
      z-index: 99;
    }
  }

  .section-title > ul {
    margin-left: 1rem;
  }
}


.main.desktop .nav-main {
  a {
    border: 0;

    &:hover {
      border-bottom: 1px solid var(--text-link-hover);

      &:visited {
        border-color: var(--text-link-visited);
      }
    }
  }

  ul.section-list {
    li ul li.mobile::marker {
      content: var(--icon-sublist);
      font-size: .85rem;
    }
  }

  li.nav-link-item {
    line-height: 1.25em;
    padding-left: .25rem;
    margin: .25rem 0 .1rem .5rem;
  }

  details {
    summary {
      color: var(--text-link);

      &::marker {
        color: light-dark(var(--main-pink-20), var(--light-purple-20));
      }

      &:hover {
        color: var(--text-link-hover);
        text-decoration: underline;
      }
    }
  }

  .section-header {
    font-size: 1.25rem;
  }

  .sidebar {
    padding: 0;
  }

  .toggle-mode {
    font-size: 1.25rem;
  }

  li.desktop > details > ul {
    margin-top: -.25rem;
  }

  li.mobile {
    display: none;
  }
}

.mobile-nav-container {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;

  .section-header {
    font-size: 2rem;
  }

  details.burger {
    width: 100%;
    z-index: 100;

    summary.burger-summary {
      list-style-type: none;
      cursor: var(--img-cursor-point), pointer;
      background: var(--bg-body);
      color: transparent;

      &::before {
        content: "☰";
        font-size: 2.5em;
        color: var(--text-primary);
      }
    }

    nav.nav-main {
      height: calc(100vh - 50px);
      width: 300px;
      overflow-y: auto;
    }
  }

  details.burger[open] {
    background: var(--bg-overlay);

    summary.burger-summary::before {
      content: '×';
      font-size: 3em;
    }
  }

  .btns-container {
    position: fixed;
    inset: .5rem 1rem auto auto;
    z-index: 100;
    display: flex;
    gap: 1rem;

    button {
      border: 0;

      &.toggle-mode {
        font-size: 1.5rem;
      }

      &.toggle-gif {
        padding: .5rem 1rem;

        &:hover {
          color: var(--bg-sidebar);
        }
      }
    }
  }
}

.pagination {
  font-family: 'TamaFont';
  font-size: 1.25em;
  margin-bottom: 1rem;
  color: light-dark(var(--main-pink-10), var(--light-purple-40));

  &:not(.numbered) {
    a {
      color: var(--text-link-visited);
      text-decoration: none;
      border-bottom-color: transparent !important;

      &:hover span {
        text-decoration: underline;
      }
    }

    ul.inline-list > li:not(:last-child)::after {
      content: var(--icon-list);
      margin: 0 1rem;
    }
  }

  &.numbered {
    .button.pagination-num {
      height: 35px;
      width: 35px;

      &.active {
        font-weight: bold;
        cursor: var(--img-cursor);
      }

      &:not(.active) {
        border: 0;
        background: none;

        &:hover {
          background-color: var(--bg-footer);
          cursor: var(--img-cursor-point), pointer;
          color: var(--text-primary);
        }
      }
    }

    button.pagination-num {
      height: 35px;
      width: 35px;

      &.active {
        font-weight: bold;
        cursor: var(--img-cursor);
      }

      &:not(.active) {
        border: 0;
        background: none;

        &:hover {
          background-color: var(--bg-footer);
          cursor: var(--img-cursor-point), pointer;
          color: var(--text-primary);
        }
      }
    }

    .button.pagination-btn {
      border: 0;
      background: none;

      &:hover {
        background-color: var(--bg-footer);
        cursor: var(--img-cursor-point), pointer;
      }
    }

    button.pagination-btn {
      border: 0;
      background: none;

      &:hover {
        background-color: var(--bg-footer);
        cursor: var(--img-cursor-point), pointer;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main.desktop .nav-main {
    width: 16.66666667%;
  }
}

@media screen and (max-width: 767px) {
  .nav-main {
    li {
      &.desktop {
        display: none;
      }

      &.mobile {
        display: revert;
      }
    }
  }

  .main.desktop .nav-main {
    display: none;

    a {
      text-decoration: underline;
    }
  }

  .mobile-nav-container {
    display: block;

    details.burger {
      font-size: 1.25em;

      .h2 {
        padding: .5rem !important;
      }

      ul li ul li {
        margin: .75rem 0;
      }
    }

    .page {
      margin-top: 3.75rem;
    }

    div[role='img'] {
      transform: scale(2);
      image-rendering: pixelated;
      margin: 0 1rem;
      vertical-align: middle;
    }

    .nav-link-item {
      padding-left: .25rem;

      &::marker {
        font-size: 1.25rem;
      }
    }
  }

  .pagination.numbered button {
    margin: 0 .5rem;
    height: 45px;
    width: 45px;
  }
}