body#splash-page {
  .container-fluid {
    height: 100%;
  }

  a {
    text-decoration: underline;
    border: 0;

    &.enter-link {
      font-family: 'TamaFont';
      font-size: 1.75rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  .content {
    max-width: 850px;
    min-height: 450px;

  .splash-desc {
      gap: 1rem;
      justify-content: space-evenly;
    }
  }
}

html.no-js .freeze-info,
html:not(.no-js) .freeze-warning {
  display: none;
}

@media screen and (min-width: 768px) {
  .splash-desc {
    gap: 0;
  }
}