#updates-bar {
  .update-date {
    display: block;
    font-family: 'TamaFont';
    font-size: .9rem;
  }

  li {
    padding: .25rem .5rem;
    margin-left: .5rem;
    line-height: 1rem;

    &::marker {
      content: var(--icon-list);
      font-size: .55rem;
      color: var(--text-secondary);
    }
  }

  .h2 {
    font-size: 1.25rem;
  }

  hr {
    margin: .5rem 0 !important;
  }

  .update-content {
    font-size: .8em;
    max-height: 450px;
    overflow-y: auto;
  }

  .img-updates {
    width: 18px;
    height: 18px;
    background: url('/assets/images/nav.gif') 0 -19px;
  }
}

@media screen and (max-width: 991px) {
  #updates-bar, .update-content {
    hr,
    strong:not(:first-of-type),
    ul:not(:first-of-type),
    .update-date {
      display: none;
    }
  }

  .update-date {
    font-size: 1.4rem;
  }
}