@import "_reset.css";

@font-face {
  font-family: 'TamaFont';
  src: url(/assets/fonts/TamaFont.woff)
}

:root {
  --bg-body: #fff0f3;
  --bg-footer: #ffd1da;
  --bg-heading: var(--bg-footer);
  --bg-selection: var(--text-primary);
  --border-sidebar: #e48aa7;
  --scroll-bg: var(--bg-footer);
  --scroll-tab: var(--bg-primary);
  --text-body: #0e172c;
  --text-primary: #9e1074;
  --text-selection: #fffffe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #66406b;
    --bg-footer: #1e1828;
    --bg-heading: var(--bg-footer);
    --bg-selection: #fffff3;
    --border-sidebar: #0d0b13;
    --scroll-bg: #66406b;
    --scroll-tab: var(--border-sidebar);
    --text-body: #fffffe;
    --text-primary: #d8b1e9;
    --text-selection: #0e172c;
  }
}

::selection {
  background: var(--bg-selection);
  color: var(--text-selection);
}

body {
  background-image: none;
  background-color: var(--bg-body);
  color: var(--text-body);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
}

h1 {
  font-family: 'TamaFont', Georgia, serif;
  font-weight: 400;
  margin: 1rem 0;
  color: var(--text-primary);
}

b,
strong {
  color: var(--text-primary);
}

button {
  background-color: var(--bg-heading);
  color: var(--text-primary);
  border: 1px solid var(--border-sidebar);
  border-radius: 5px;
  padding: .5rem;
  text-decoration: none;
}

button:hover {
  cursor: var(--img-cursor-point), pointer;
  background-color: var(--bg-body);
  color: var(--text-primary);
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
}

#bishie-content .question {
  margin-bottom: .5rem;
}

.quiz-img-container > img:not(:last-child){
  margin-right: .5rem;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  #bishie-results {
    text-align: center;
  }
}