---
layout: ""
pagination:
  data: collections.statusCafeTheme
  size: 1
  alias: statusTheme
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "resources/status-cafe/preview/{{ statusTheme.page.fileSlug }}.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bechnokid - Status Cafe</title>
  <meta name="description" content="your friends' updates">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⭐</text></svg>">
  <link rel="stylesheet" href="https://status.cafe/assets/style.css" type="text/css" media="all">
  {% if statusTheme.data.noPlaceholderText == true %}<style>.placeholder-text { display: none }</style>{% endif %}
</head>
<body>
  <header>
    <nav>
      <a href="/">status.cafe</a> <a href="https://forum.status.cafe">forum</a>
      <a href="/settings">settings</a> <a href="/users/bechnokid">bechnokid</a> (<a href="/logout">logout</a>)
    </nav>
  </header>
  <main>
    <div class="cols">
      <section>
        <h2>bechnokid</h2>
        {% if statusTheme.data.pfp %}
          <img src="{{ "https://placehold.co/500x500" if statusTheme.data.pfp == true else statusTheme.data.pfp }}" class="profile-picture">
        {% endif %}
        <p><a href="/users/bechnokid.atom">Subscribe via Atom</a></p>
        <dl>
          <dt class="homepage">Homepage</dt>
          <dd class="homepage">
            <a href="https://bechnokid.com" target="_blank">https://bechnokid.com/</a>
          </dd>
          <dt class="email">Email</dt>
          <dd class="email">
            <a href="mailto:bechnokid@yahoo.com" target="_blank">bechnokid@yahoo.com</a>
          </dd>
          <dt class="about">About</dt>
          <dd class="about">
            <p class="placeholder-text">Rathalos are fearsome male wyverns known as the "Kings of the Skies". Alongside the Rathian, they stake out a wide territory around their nests, and it is the male's role to watch from above.</p>
            <p class="placeholder-text">Armed with powerful poisonous claws and fiery breath, Rathalos use their aerial prowess to descend on invaders.</p>
            {% include "components/resources/status-cafe-themes/" + statusTheme.page.fileSlug + ".html" %}
          </dd>
        </dl>
      </section>
      <section>
        <h2>Statuses</h2>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> ⭐ 1 hour ago</div>
          <p class="status-content">This is a preview for a Status Cafe theme!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> 👀 5 days ago</div>
          <p class="status-content">Pixeliana has a bunch of <a href="https://pixeliana.neocities.org/statuscafe" target="_blank" rel="noreferrer noreferrer">helpful tips</a> for Status Cafe. Be sure to check them out!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> 💡 8 days ago</div>
          <p class="status-content">Please note that most of the links in the navigation do not work since this is just a preview. Clicking on them will lead to broken pages!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> 🤔 10 days ago</div>
          <p class="status-content">Be sure to read all of a particular theme's notes and/or tips to make the most out of the theme!</p>
        </article>
        <article class="status">
          <div class="status-username"><a href="https://status.cafe/users/bechnokid">bechnokid</a> ✏️ 13 days ago</div>
          <p class="status-content">If anything looks off, feel free to shoot a message to the email address shown on the left!</p>
        </article>
        <p>
          <a href="bechnokid">Newer statuses</a>
          <a href="bechnokid?page=2">Older statuses</a>
        </p>
      </section>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>