---
permalink: "resources/status-cafe/themes/{{ page.fileSlug }}.html"
cls: status-cafe-theme
---
{% extends "layouts/base.html" %}

{% set page_header_title = title %}
{% set page_header_summary = summary | markdownifyInline | safe %}

{% set copy_code %}{% include "components/resources/status-cafe-themes/" + page.fileSlug + ".html" %}{% endset %}

{% block content %}
  {% include "partials/page-header.html" %}
  {% if content %}
    <section class="preview">
  {% endif %}
    <button id="copy-btn" type="button" class="js-required">Copy code</button>
    <a class="button" href="/resources/status-cafe/preview/{{ page.fileSlug }}.html" target="_blank" rel="noreferrer noreferrer">Open preview in new tab</a>
    <iframe src="/resources/status-cafe/preview/{{ page.fileSlug }}.html" frameborder="0"></iframe>
    <noscript>
      {% details { title: "Show/hide Code", cls: "mx-2", summaryCls: "button mt-3"} %}
{{ ("```html " + copy_code) | markdownify | safe }}
      {% enddetails %}
    </noscript>
    <textarea class="copy-text d-none">{% renderFile "./src/_includes/components/resources/status-cafe-themes/" + page.fileSlug + ".html" %}</textarea>
  {% if content %}
    </section>
    <section class="notes mt-3">
      {{ content | safe }}
    </section>
  {% endif %}
  {% include "partials/go-back.html" %}
{% endblock content %}