---
title: Blog
displayOrder: 1
pagination:
  data: collections.blog
  size: 15
  reverse: true
permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
paginationAnchor: '#post-list'
description: Not unlike a diary or journal, longer entries can be found here.
summary: There will be times where I just want to keep rambling about things I've experienced, good or bad! Hopefully, mostly good!
noScroll: true
---
{% set post_list_items = pagination.items %}
{% set last_updated = (collections.feed | reverse)[0].fileSlug | monthDayYear %}

{% block content %}
  {%- for item in post_list_items %}
  {% set blog_date = item.fileSlug | monthDayYear %}
  <div class="blog row py-1">
    <div class="col-md-8 col-7">
      <a href="{{ item.url }}">{{ item.data.title | markdownifyInline | safe }}</a>
      {% if blog_date == last_updated %}
        {% icon 'new' %}
      {% endif %}
    </div>
    <div class="col-md-4 col-5">{{ blog_date }}</div>
  </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
{% endblock %}