---
title: Microblog
displayOrder: 2
pagination:
  data: collections.microblog
  size: 7
permalink: writing/microblog/{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html
paginationPrevText: Newer statuses
paginationNextText: Older statuses
description: Smaller entries that describe how I'm feeling or what I'm doing in the moment.
summary: Thoughts and ramblings that are otherwise too small to make into a blog post!
---
{% set emote_path = "/assets/images/blog/emoticon" %}
<div class="status-container d-flex flex-column flex-gap-4 p-md-4 p-2">
  {% for item in pagination.items %}
  <div class="sidebar rounded d-flex flex-gap-3 p-3">
    <div class="status-mood d-flex justify-content-center">
      {% img emote_path + "/" + (item.mood or "normal") + ".svg", { cls: "emoticon", ariaHidden: true } %}
    </div>
    <div class="status-content d-flex flex-column flex-gap-1">
      <p class="status-date text-accent h3 pt-2 pb-0">{{ item.date | monDayYear }}</p>
      <p class="status-text">{{ item.content }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% include "partials/pagination_num.html" %}