---
title: Adopts
displayOrder: 3
description: Little creatures that I found from other sites and decided to adopt.
permalink: 'goodies/adopts/index.html'
hasLinks: true
freezeframe: true
---
{% set array = goodies.graphics.adopts %}

<div class="position-relative">
  {% include "partials/loading-sidebar.html" %}

  {% set img_link = array.imgSrc + 'mine/' %}
  <section class="for-you mb-4">
    <h2>For You</h2>
    {% galleryBox { cls: 'adopts mine', subCls: 'flex-column' } %}
    <div class="row g-0">
      {%- for column in array.mine %}
        <div class="col-md-4 col-12">
          {%- for row in column %}
            <p>{{ row.name }}</p>
            <div class='d-flex flex-gap-1 py-1 {{ row.cls or "" }}'>
              {%- for item in row.items %}
                {% if item.tooltip %}<div class="tooltip">{% endif %}
                  {% img img_link + item.src, { alt: item.alt } %}
                {% if item.tooltip %}
                  <div class="tooltip-content" role="tooltip">{{ item.tooltip }}</div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    {% endgalleryBox %}
  </section>

  {% set img_link = array.imgSrc %}
  <section class="adopted">
    <h2>Adopted</h2>
    {% galleryBox { cls: 'adopts collected' } %}
      {%- for row in array.adopted %}
        <div class="d-flex flex-wrap justify-content-center flex-gap-1 {{ row.cls or "" }}">
          {%- for item in row.items %}
            {% set img_path = item.src if item.ogLink else img_link + item.src %}
            {% img img_path, { url: item.url, alt: item.alt, freezeframe: item.freezeframe } %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endgalleryBox %}
  </section>

  <section class="orphaned">
    <h2>Orphaned</h2>
    <p>These are pixels that were never put up for sale or whose owner sites no longer exist. So, I'm putting them here in the hopes that they can get adopted!</p>
    <p>If you are the owner of any of these and would like me to take them down, please feel free to [contact me](/contact)!</p>
    {% galleryBox { cls: "mt-2", subCls: "flex-gap-2 orphaned-adopts" } %}
      {% for owner, value in array.orphaned %}
        <a href="{{ value.url }}" class="d-flex flex-wrap flex-gap-2 align-items-end">
          {% for item in value.items %}
            {% if item.group %}
              {% for alt in item.alt %}
                {% img img_link + item.name + loop.index + ".png", { alt: "A pixel of " + alt } %}
              {% endfor %}
            {% else %}
              {% img img_link + item.src, { alt: item.alt, freezeframe: item.freezeframe } %}
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    {% endgalleryBox %}
  </section>
</div>
