{% set img_path = "/assets/images/goodies/cliques/" %}
{# params:
    - name: string (name of pixel club)
    - id: string (id for pixel club)
    - owner: string (owner of pixel club)
    - url: string (pixel club main url)
    - alt (optional): string (alt text for pixel club for easy dup)
    - arr: array (array of items for pixel club)
    - gap: int (gap between items)
#}
{% macro basic(params) %}
  <section class="{{ params.id or (params.name | slugify) }}">
    <h2>{{ params.name }}</h2>
    <p>Created by <a href="{{ params.url }}">{{ params.owner }}</a>!</p>
    {% set center_cls = "justify-content-md-start justify-content-center" if not params.center else "justify-content-center" %}
    {% set gap_cls = ("flex-md-gap-1 flex-gap-" + params.gap) if params.gap else "flex-gap-1" %}
    <div class="sidebar d-flex flex-wrap p-3 {{ center_cls }} {{ gap_cls }} mt-3">
      {%- for item in params.arr %}
        {% set alt_text = (params.alt + item.alt) if params.alt else item.alt %}
        {% set options = { url: item.url, alt: (alt_text or ""), freezeframe: item.freezeframe } %}
        {% img img_path + (params.id or (params.name | slugify)) + "/" + item.src, options %}
      {% endfor %}
    </div>
    {% if params.id == 'bottlecaps' %}
      <p class="text-xs"><strong>Note: </strong>Digimon sprites are from the <a href="https://dmc-sprite-database.vercel.app/">Digimon / Pendulum Color Mod Sprite Database</a></p>
    {% endif %}
  </section>
{% endmacro %}

{% macro detailed(params) %}
  <section class="{{ params.id or (params.name | slugify )}} detailed">
    <h2>{{ params.name }}</h2>
    <p>Created by {% link params.url, { text: params.owner } %}</p>
    <div class="sidebar d-flex flex-wrap justify-content-center flex-gap-2 py-3 mt-3">
      {% for item in params.arr %}
        <div class="item d-flex flex-column flex-gap-1">
          {% set options = { url: item.url, alt: item.alt, freezeframe: item.freezeframe } %}
          <div class="img">{% img img_path + (params.id or (params.name | slugify)) + "/" + item.src, options %}</div>
          <details class="desc text-xs text-center w-100">
            <summary class="heading-stitch rounded mb-1">{{ params.summary }}</summary>
            {{ item.desc or params.desc or "N/A" }}
          </details>
        </div>
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro afternoonTea() %}
  {{ detailed({
    name: "Afternoon Tea",
    id: "tea",
    owner: "Lost Letters",
    url: "https://lostletters.neocities.org/afternoontea/",
    arr: goodies.pixel_clubs.tea,
    summary: "Tastes like..."
  }) }}
{% endmacro %}

{% macro bottlecaps() %}
  {{ basic({
    name: "Bottlecaps",
    owner: "Karla",
    url: "https://miserabledolly.net/bottlecaps",
    arr: goodies.pixel_clubs.bottlecaps,
    center: true,
    gap: 5
  }) }}
{% endmacro %}

{% macro cdw() %}
  <section class="cdw">
    <h2 class="bg-dots">CDwORLD</h2>
    <p>Created by <a href="https://humanfinny.neocities.org/clubs/cd_world/cdworld_home">Finny</a>!</p>
    <div class="d-flex justify-content-md-start justify-content-center align-items-center flex-md-gap-2 flex-gap-4 flex-wrap py-md-0 py-4 mt-2">
      {% for item in goodies.pixel_clubs.cdw %}
        {% set options = {
          noMarkdown: true,
          cls: 'border-0 text-center m-1 p-1',
          alt: "A pixel image of a CD album containing " + item.alt,
          figCaptionCls: "text-center",
          noLink: (false if item.url else true),
          imgLink: item.url } %}
        {% figure img_path + "cdw/" + item.src, options %}
          <a class="playlist" href="{{ item.playlist }}">Playlist</a>
        {% endfigure %}
      {% endfor %}
    </div>
  </section>
{% endmacro %}

{% macro charm() %}
  {{ basic({
    name: "Charm Ring",
    owner: "Lapin",
    url: "https://charm-ring.valentinely.cc/",
    arr: goodies.pixel_clubs.charms,
    center: true
  }) }}
{% endmacro %}

{% macro fizzyVendor() %}
  {{ detailed({
    name: "Fizzy Vendor",
    id: "fzv",
    owner: "Fizzsea",
    url: "https://fizzsea.net/extra/fizzyvendor.html",
    arr: goodies.pixel_clubs.fzv,
    summary: "Tastes like...",
    desc: "???"
  }) }}
{% endmacro %}

{% macro kindnessRocks() %}
  {{ basic ({
    name: "Kindness Rocks Pixel Project",
    id: "kindnessrocks",
    owner: "PixelRevival",
    url: "https://pixelrevival.xyz/kindnessrocks/",
    arr: goodies.pixel_clubs.kindnessrocks,
    gap: 5
  }) }}
{% endmacro %}

{% macro jarJams() %}
  {{ basic ({
    name: "Jar Jams",
    id: "jarjam",
    owner: "Blissnet",
    url: "https://blissnet.neocities.org/toybox/JJ",
    alt: "A pixel jar ",
    arr: goodies.pixel_clubs.jarjam,
    gap: 5
  }) }}
{% endmacro %}

{% macro stickerSheet(mine) %}
  {% set stickerAlt = "A pixel sticker that resembles " %}
  {% set stickerImgPath = img_path + "/stickers/" %}
  {% set stickerArr = goodies.pixel_clubs.stickers.mine if mine else goodies.pixel_clubs.stickers.collected %}
  <div class="sticker-box {{ "mine" if mine else "collected"}}">
    <div class="header d-flex justify-content-center align-items-center flex-gap-1">
      <img src="{{ stickerImgPath }}tinyleaf.gif" alt="" aria-hidden="true"><span aria-label="My Sticker {{ "Sheet" if mine else "Collection" }}">𝑀𝓎 𝒮𝓉𝒾𝒸𝓀𝑒𝓇 {{ "𝒮𝒽𝑒𝑒𝓉" if mine else "𝓒𝓸𝓵𝓵𝓮𝓬𝓽𝓲𝓸𝓷" }}</span><img src="{{ stickerImgPath }}tinyleaf.gif" alt="" aria-hidden="true">
    </div>
    <div class="body d-flex flex-wrap justify-content-center align-items-center flex-gap-2 p-2">
      {% for item in stickerArr %}
        {% set options = { alt: stickerAlt + item.alt, url: item.url, freezeframe: item.freezeframe } %}
        {% img stickerImgPath + item.src, options %}
      {% endfor %}
    </div>
    <div class="footer p-2">
      {% img stickerImgPath + "logo.png", { alt: "Main link to the Sticker Sheet Club", url: "https://stickersheetclub.neocities.org/" } %}
    </div>
  </div>
{% endmacro %}

{% macro stickers() %}
  <section class="sticker-sheet-club">
    <h2 class="bg-dots">Sticker Sheet Club</h2>
    <p>Created by <a href="https://stickersheetclub.neocities.org/">RoseDryad</a>!</p>
    <div class="d-flex flex-column align-items-center flex-gap-3 mt-4">
      {{ stickerSheet(true) }}
      {{ stickerSheet() }}
    </div>
  </section>
{% endmacro %}

{% macro yysTable(mine) %}
  {% if not mine %}<h3>Shopping Cart</h3>{% endif %}
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        {% if not mine %}<th>Purchased From</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% set yysArr = goodies.pixel_clubs.yys.mine if mine else goodies.pixel_clubs.yys.cart %}
      {% for item in yysArr %}
        <tr>
          <td class="item text-center">
            {% img img_path + "yys/" + item.src, { alt: "A small pixel of " + item.alt, freezeframe: item.freezeframe} %}
          </td>
          <td>{{ item.desc }}</td>
          {% if not mine %}
            <td><a href="{{ item.url }}">{{ item.name }}</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro yys() %}
  {% set yysAlt = "A small pixel of " %}
  <section class="yys">
    <h2 class="bg-dots">Yum-Yum Shoppe</h2>
    <p>Created by <a href="https://web.archive.org/web/20030608043805/http://www.letsbefriends.org/yum-yum/">Lani</a>! (archived)</p>
    <div class="d-flex flex-column align-items-center mt-md-0 mt-4">
      {{ yysTable(true) }}
      {{ yysTable() }}
    </div>
  </section>
{% endmacro %}