---
title: 'Splash page'
displayOrder: 0
tags: main
splashImg: '/assets/images/splash.png'
splashImgAlt: "Splash image for Bechno Kid's Hideout that links to the home page"
neocities: true
---
{% set feed_items = collections.feed | reverse %}
{% set last_updated = feed_items[0].fileSlug | monDayYear %}
{% set home_page = (meta.url + '/home') if meta.env === "neocities" else "/home" %}
<!DOCTYPE html>
<html lang={{ meta.lang }} data-theme="light" class="no-js">
  <head>
    {% include "partials/head.html" %}
    <script type="text/javascript" src="{{ meta.jsUrl }}/components/jquery.js" crossorigin="anonymous"></script>
    <script type="module" src="{{ meta.jsUrl }}/script.js"></script>
    <link rel="stylesheet" href="{{ meta.cssUrl }}/main.css" type="text/css" media="all">
    <title>{{ meta.name }}</title>
  </head>
<body id="splash-page">
  <main class="container-fluid d-flex flex-center">
    <div id="splash-container" class="position-relative p-3 bg-dots rounded">
      <div class="content bg-body">
        <div class="row d-flex g-0 p-4">
          <div class="splash-desc col-md-6 d-flex flex-column text-center pe-md-3 py-md-3 order-md-0 order-1">
            <div class="title">
              <h1>{{ meta.name }}</h1>
              <hr class="m-0">
            </div>
            <p><strong>Some notes about this site:</strong></p>
            <ul class="text-sm text-left mx-4">
              <li><strong>PG-13 / WEB 14</strong> for minimal swearing and some mature themes.</li>
              <li>Some parts of the site uses JavaScript but will still be functional without it.</li>
              <li>Responsive and mobile-friendly!</li>
              <li class="freeze-info">All animated graphics will be frozen by default but can be toggled by hovering over an image or pressing "Toggle GIFs".</li>
              <li class="freeze-warning">Pages labeled with {% icon 'alert-triangle', { cls: 'index' } %} contain blinking/flashing graphics.</li>
            </ul>
            <a class="enter-link text-center" href="{{home_page}}">ENTER HERE</a>
            <div class="last-update">
              <p>Last updated: {{ last_updated }}</p>
            </div>
          </div>
          <div class="splash-img col-md-6 order-md-1 order-0 d-flex flex-center mb-md-0 mb-2">
            <a href="{{home_page}}"><img src="{{ splashImg }}" alt="{{ splashImgAlt }}"></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% if meta.env === "neocities" %}
    <script>
      if (navigator.userAgent === "Screenjesus") {
        document.body.innerHTML = '<img src="/assets/images/og_image.png" style="width:100vw;height:100vh;object-fit:cover;">';
      }
    </script>
  {% endif %}
</body>
</html>