---
title: Places I've Joined
shortTitle: Joined
summary: "**Warning:** Be cautious of any flashing colors and images when navigating away from this page."
displayOrder: 2
permalink: 'joined/index.html'
---
{% import 'components/joined/macros_webrings.html' as webrings with context %}
{% import 'components/joined/macros_cliques.html' as clique with context %}
<script>var webringLinks = {};</script>

<div class="position-relative d-flex flex-column flex-gap-4">
  {% include "partials/loading-sidebar.html" %}
  {% galleryBox { title: "More Cliques", cls: "cliques", subCls: "row g-0 w-100 text-center" } %}
    {% for items in cliques.more | slice(2) %}
      <div class="col-md-6 col-12 d-flex flex-column align-items-center flex-gap-2">
        {% for item in items %}
          <div class="clique {{ item.cls or "" }}">
            {% if item.custom %}
              {{ item.custom | safe }}
            {% else %}
              {{ clique.text(item) }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endgalleryBox %}
  {% galleryBox { title: "Webrings/Directories", cls: "webrings", subCls: "justify-content-center flex-gap-2" } %}
    {% set debug = false if meta.env == "prod" else true %}
    <p class="mobile-only mb-4">I'm so sorry the widgets are so small on mobile! One day, I'll find a way to make them easy to navigate, but for now, please zoom in!</p>
    <div class="d-flex flex-wrap flex-center flex-gap-2">
      {% for item in outgoing.joined.directories %}
        {% img "/assets/images/webrings/" + item.src, { url: item.url, alt: "Button to &quot;" + item.name + "&quot;"} %}
      {% endfor %}
      {{ webrings.rayman() }}
      {{ webrings.acing() }}
      {{ webrings.ladies() }}
      {{ webrings.queercoded() }}
      {{ webrings.tropical() }}
      {{ webrings.no_ai() }}
      {{ webrings.resource() }}
      {{ webrings.neocreatives() }}
      {{ webrings.gummy() }}
      {{ webrings.gfdkris() }}
      {{ webrings.amiga() }}
      {{ webrings.wii() }}
      {{ webrings.cookie_run() }}
      {{ webrings.doodle() }}
      {{ webrings.self_insert() }}
      {{ webrings.sanrio() }}
      {{ webrings.yume() }}
      {{ webrings.kingdom_hearts() }}
    </div>
  {% endgalleryBox %}

  {#{% galleryBox { title: "Pending", cls: "webrings", subCls: "justify-content-center align-items-center flex-gap-3" } %}
  {% endgalleryBox %}#}

  {% galleryBox { title: "Webrings?", cls: 'js-required', subCls: "webrings", simple: true } %}
    <p>These webrings are either inactive or are not letting people join even though the option to become a member is still available. So, I cheated a bit to make myself an "honorary member", like a rascal. Yes, these are all functional!</p>
    <p>If you're the owner of any of these webrings and you want me to take these down, then please go back to updating your webrings or at least say applications are closed!</p>
    <div class="d-flex flex-md-row flex-column align-items-center justify-content-center flex-gap-3 mt-3">
      <div class="d-flex flex-column align-items-center flex-gap-1">
        {{ webrings.wol(true) }}
        {{ webrings.pokering(true) }}
      </div>
      {{ webrings.jelly() }}
    </div>
  {% endgalleryBox %}

  {% set assetLink = '/assets/images/fanlistings/' %}
  {% galleryBox { title: "Fanlistings", subCls: 'fanlistings pt-0' } %}
    {%- for key, value in outgoing.joined.fanlistings %}
      {% if value != "none" %}
        <div class="w-100">
          <h3>{{ key | title }}</h3>
          <div class="d-flex flex-wrap flex-gap-1">
            {%- for item in value %}
              {% img assetLink + item.src, { url: item.url, alt: item.alt + " fanlisting button", height: "50", width: "50" } %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endgalleryBox %}
</div>