---
title: Links
displayOrder: 1
permalink: 'links/index.html'
freezeframe: true
hasLinks: true
flashing: true
---
{% set img_path = "/assets/images/links/" %}

<div class="position-relative">
  {% include "partials/loading-sidebar.html" %}
  {# Creates section for links\
    * @param {string} options.title - Section title
    * @param {string} options.cls - Section CSS class
    * @param {string} options.desc - Section description
    * @param {array} options.btnsArr - Array that holds links and their data, including buttons
    * @param {array} options.noBtnsArr - Array that holds only links
  #}
  {% macro link_section(options) %}
    <section class="{{ options.cls or (options.title | slugify) }}">
      <h2>{{ options.title }}</h2>
      <div class="d-flex flex-column flex-gap-2">
        {{ options.desc | markdownify | safe }}
        {% if options.noBtnsArr %}
          <ul class="no-btn-list inline-list justify-content-center">
            {% for item in options.noBtnsArr %}
              <li>{% link item.url, { text: item.name } %}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% galleryBox { cls: 'mx-2 mt-2', subCls: 'justify-content-center' } %}
          {%- for item in options.btnsArr %}
            {% set item_src = item.src if "https" in item.src else img_path + item.src %}
            {% img item_src, { url: item.url, alt: "Link button for " + item.name, freezeframe: item.freezeframe, width: 88, height: 31 } %}
          {% endfor %}
        {% endgalleryBox %}
      </div>
    </section>
  {% endmacro %}

  {% set affiliate_desc %}
Sites whose webmasters I'm happy to be affilated with! If you'd like to be affiliates, [contact me](/contact)!

All I ask is that you're at least 20 years old, your site has content of any kind: art, blogging, writing, etc. and isn't just an "About Me" site, and you have an 88x31 button!
  {% endset %}
  {{ link_section ({ title: "Affiliates", desc: affiliate_desc, btnsArr: outgoing.links.affiliates }) }}
  {{ link_section ({ title: "Neighbors", desc: "I couldn't ask for better neighbors! I'd let them borrow my sugar anytime!", btnsArr: outgoing.links.neighbors }) }}
  {{ link_section ({ title: "Other Sites I Like", desc: "Sites that I've admired from afar!", btnsArr: outgoing.links.cool_sites, noBtnsArr: outgoing.links.no_btns.cool_sites })}}

  <section>
    {% details { title: "Inactive (for now?)", summaryCls: "details h2 mb-3", cls: "inactive-links" } %}
      <div class="d-flex flex-column flex-gap-2">
        <p>Neighbors that haven't been updated in a while or on hiatus but are still worth checking out!</p>
        <ul class="no-btn-list inline-list justify-content-center">
          {% for item in outgoing.links.no_btns.inactive %}
            <li>{% link item.url, { text: item.name } %}</li>
          {% endfor %}
        </ul>
        {% galleryBox { cls: 'mx-2 mt-2', subCls: 'justify-content-center' } %}
          {%- for item in outgoing.links.inactive %}
            {% set item_src = item.src if "https" in item.src else img_path + item.src %}
            {% img item_src, { url: item.url, alt: "Link button for " + item.name, freezeframe: item.freezeframe, width: 88, height: 31 } %}
          {% endfor %}
        {% endgalleryBox %}
      </div>
    {% enddetails %}
  </section>

  <section>
    <h2>Favorite Resources</h2>
    <table class='resources mb-3'>
      {%- for item in outgoing.links.resources.btns %}
        <tr>
          <td>{% img img_path + item.src, { alt: "Button for " + item.name, url: item.url } %}</td>
          <td class='td-desc'>{{ item.desc }}</td>
        </tr>
      {% endfor %}
    </table>
    <ul class="resource-list mt-3">
      {% for item in outgoing.links.resources.urls %}
        <li>{% link item.url, { text: item.name} %}
          <ul><li>{{ item.desc | markdownifyInline | safe }}</li></ul>
        </li>
      {% endfor %}
    </ul>
  </section>

{% renderTemplate "md" %}
## Credits

This site wouldn't exist without the people listed below, and that includes **any and all visitors like you**. Thank you!

### Layout

- [Rina Cat's Domain](https://web.archive.org/web/20041206135411/rinacat.com/main.html) - inspiration
- [Eleventy](https://11ty.dev) - static site generator
  - More technical info can be found in [/uses](/uses)
- [Dracula/Alucard Theme](https://draculatheme.com/) - colors for RSS Feed, Rainbow clique on home page, and various code blocks
- [The Spriters Resource](https://www.spriters-resource.com/lcd_handhelds/tamagotchips/) - Tamagotchi P's icons on navbar

### Resources

- [status.cafe](https://status.cafe/) - microblog
- [Salma Alam-Naylor](https://dev.to/whitep4nth3r/the-best-lightdark-mode-theme-toggle-in-javascript-368f) - Light/dark mode toggle code inspiration

### /about: { .header-link }

- [fluffmoth](https://idbuttons.neocities.org/database/) - ID buttons
- [Robert A. Hayden](https://web.archive.org/web/20090220181018/http://geekcode.com/geek.html) - Geek Code
- [Bandai & Capcom](https://monsterhunterwiki.org/wiki/Digital_Monster_COLOR:_Monster_Hunter_20th_Edition) - Meat sprite
- [Monster Hunter Wiki](https://monsterhunterwiki.org/) - Monster images
- [Digimon Sprite Database](https://dmc-sprite-database.vercel.app/), [DSTS Digidex](https://dsts.skullbot.fr/) - Digimon sprites (except Numemon)
- [zxcke123 on Nexus Mods](https://www.nexusmods.com/monsterhunterworld/mods/5164) - Shara Ishvalda icon

### /fan: { .header-link }

- All images are screenshots or promotional artwork from official sources

### /joined: { .header-link }

- [FOOL LOVERS](https://foollovers.com/) - arrow icons for the "Acing the Internet", "Tropical Rice Bowl", and "Neocreatives" webrings
{% endrenderTemplate %}
</div>