{% set navigation = ["Intro", "About", "Why Gilgamesh?", "Yume", "Credits", "Home"] %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}<link rel="stylesheet" href="{{ meta.cssUrl }}/shrines/gilgamesh.css{{ meta.nocache }}" type="text/css" media="all">{% endblock css %}
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <title>{{ meta.name }}{% if title != null %} - {{ title }}{% endif %}</title>
</head>
<body>
  <header><img src="/assets/images/shrines/gilgamesh/header.png" aria-hidden="true" alt=""></header>
  <div class="container-fluid pb-4 d-flex justify-content-center align-items-center position-relative">
    <div class="content d-flex flex-column flex-gap-3">
      <h1>{{ title }}</h1>
      <details class="mobile-nav px-2 py-3">
        <summary>Menu</summary>
          <nav class="toc text-center">
            {% for item in navigation %}
              <li><a href={{ "/home" if item == "Home" else "#" + (item | slugify) }}>{{ item }}</a></li>
            {% endfor %}
          </nav>
      </details>
      <nav class="desktop-nav toc">
        {% for item in navigation %}
          <li><a href="{{ "/home" if item == "Home" else "#" + (item | slugify) }}">{{ item }}</a></li>
        {% endfor %}
      </nav>
      <main class="px-lg-5 py-lg-4 p-4">
        {{ content | safe }}
        <div class="back-to-top"><a href="#" aria-label="Scroll to Top">{% icon 'arrow-up' %}</a></div>
      </main>
    </div>
  </div>
</body>
</html>