{% macro navLink(linkUrl, linkTitle, options = {}) %}
<li class="nav-link-item{{ (" " + options.cls) if options.cls }}"><a href="{{ linkUrl }}">{{ linkTitle }}</a> {% if options.flashing == true %}{% icon 'alert-triangle' %}{% endif %} {% if options.up %}{% icon 'updated' %}{% elif options.new %}{% icon 'new' %}{% endif %}</li>
{% endmacro %}

{% macro navSection(section, name = null) %}
<li>
  <div class="section-header d-flex align-items-center flex-gap-2 px-2 py-1 h2">{% imgDiv { cls: "img-" + (name or section) } %} <span>{{ (name or section) | title }}</span></div>
  <ul class="section-list ms-lg-3 ms-md-2 ms-4 my-1 pe-md-1 pe-0">
    {%- for link in collections[section] | sortCollectionByDisplayOrder %}
      {% if link.data.wip %}
        <li class="text-muted">{{ link.data.title }} (WIP)</li>
      {% elif link.data.subList and link.data.pagination.items.length <= 5 and link.data.title != "Artwork" %}
        <li class="desktop">
          {% set sublinkItems = link.data.pagination.items | getPageLinks %}
          <details class="{{ link.data.title | slugify }}"{{ " open" if page.url in sublinkItems }}>
            <summary class="text-link">{{ link.data.title }}{% if link.data.title in meta.updated %} {% icon 'updated' %}{% endif %}</summary>
            <ul class="ms-2">
              {%- for sublink in link.data.pagination.items %}
                {% set sublinkCls = sublink.data.navTag or "" %}
                {% set linkTitle =  sublink.data.shortTitle or sublink.data.title %}
                {{ navLink(sublink.page.url, linkTitle, { cls: sublinkCls , flashing: sublink.data.flashing, up: linkTitle in meta.updated, new: linkTitle in meta.new }) }}
              {% endfor %}
            </ul>
          </details>
        </li>
        <li class="mobile nav-link-item section-title">{{ link.data.title }}
          <ul>
            {%- for sublink in link.data.pagination.items %}
              {% set sublinkCls = sublink.data.navTag or "" %}
              {% set linkTitle =  sublink.data.shortTitle or sublink.data.title %}
              {{ navLink(sublink.page.url, linkTitle, { cls: sublinkCls + " mobile" , flashing: sublink.data.flashing, up: linkTitle in meta.updated, new: linkTitle in meta.new }) }}
            {% endfor %}
          </ul>
        </li>
      {% elif "nav" in link.data.tags %}
        {% set linkTitle =  link.data.shortTitle or link.data.title %}
        {{ navLink(link.page.url, linkTitle, { cls: link.data.navTag, flashing: link.data.freezeframe or link.data.flashing, up: linkTitle in meta.updated, new: linkTitle in meta.new }) }}
      {% endif %}
    {% endfor %}
  </ul>
</li>
{% endmacro %}

<ul>
  <li><a href="#main-content" class="skip-link">Main Content</a></li>
</ul>
<ul class="nav-links">
  {{ navSection('main') }}
  {{ navSection('creative') }}
  {{ navSection('resources') }}
  {{ navSection('fun')}}
  {{ navSection('outgoing') }}
</ul>
