<hr class="small">
{% if pagination.href.next or pagination.href.previous %}
  <nav class="pagination mt-3 text-xxl d-flex justify-content-between" aria-label="Pagination links">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">{% icon 'arrow-left' %}<span class="ms-2">{{ paginationPrevText if paginationPrevText else 'Previous' }}</span></a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards"><span class="me-2">{{ paginationNextText if paginationNextText else 'Next' }}</span>{% icon 'arrow-right' %}</a>
    {% endif %}
  </nav>
{% endif %}