<hr class="small">
{% if pagination.href.next or pagination.href.previous %}
  <nav class="pagination mt-3 text-xxl d-flex justify-content-center" aria-label="Pagination links">
    <ul class="inline-list">
      <li>
        {% if page.url != pagination.href.first %}
          <a href="{{ pagination.href.first }}">{{ paginationFirstText if paginationFirstText else 'First' }}</a>
        {% else %}
          {{ paginationFirstText if paginationFirstText else 'First' }}
        {% endif %}
      </li>
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" data-direction="backwards">{{ paginationPrevText if paginationPrevText else 'Previous' }}</a>
        {% else %}
          {{ paginationPrevText if paginationPrevText else 'Previous' }}
        {% endif %}
      </li>
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" data-direction="forwards">{{ paginationNextText if paginationNextText else 'Next' }}</a>
        {% else %}
          {{ paginationNextText if paginationNextText else 'Next' }}
        {% endif %}
      </li>
      <li>
        {% if page.url != pagination.href.last %}
          <a href="{{ pagination.href.last}}">{{ paginationLastText if paginationLastText else 'Last' }}</a>
        {% else %}
          {{ paginationLastText if paginationLastText else 'Last' }}
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}